<div class="sidebar-wrapper" data-simplebar="true">
	<div class="sidebar-header">
		<div class="">
			<img src="~/images/adminpanel/logo-icon.png" class="logo-icon-2" alt="" />
		</div>
		<div>
			<h4 class="logo-text">Syntrans</h4>
		</div>
		<a href="javascript:;" class="toggle-btn ml-auto"> <i class="bx bx-menu"></i>
		</a>
	</div>
	<ul class="metismenu" id="menu">
		<li>
			<a href="javascript:;" class="has-arrow">
				<div class="parent-icon"><i class="bx bx-home-alt"></i>
				</div>
				<div class="menu-title">Dashboard</div>
			</a>
			<ul>
				<li>
					<a asp-area="Admin" asp-controller="Home" asp-action="Analytics">
						<i class="bx bx-right-arrow-alt"></i>Analytics
					</a>
				</li>
				<li>
					<a asp-area="Admin" asp-controller="Home" asp-action="Sales">
						<i class="bx bx-right-arrow-alt"></i>Sales
					</a>
				</li>
			</ul>
		</li>
		<li class="menu-label">
			Web Apps
		</li>
		<li>
			<a asp-area="Admin" asp-controller="Email" asp-action="EmailBox">
				<div class="parent-icon">
					<i class="bx bx-envelope"></i>
				</div>
				<div class="menu-title">Email</div>
			</a>
		</li>
		<li>
			<a asp-area="Admin" asp-controller="Chat" asp-action="ChatBox">
				<div class="parent-icon">
					<i class="bx bx-conversation"></i>
				</div>
				<div class="menu-title">Chat Box</div>
			</a>
		</li>
		<li>
			<a asp-area="Admin" asp-controller="File" asp-action="FileManager">
				<div class="parent-icon">
					<i class="bx bx-archive"></i>
				</div>
				<div class="menu-title">File Manager</div>
			</a>
		</li>
		<li>
			<a asp-area="Admin" asp-controller="Contact" asp-action="Contacts">
				<div class="parent-icon">
					<i class="bx bx-group"></i>
				</div>
				<div class="menu-title">Contacts</div>
			</a>
		</li>
		<li>
			<a asp-area="Admin" asp-controller="ToDo" asp-action="ToDoList">
				<div class="parent-icon">
					<i class="bx bx-task"></i>
				</div>
				<div class="menu-title">Todo List</div>
			</a>
		</li>
		<li>
			<a asp-area="Admin" asp-controller="Invoice" asp-action="Index">
				<div class="parent-icon">
					<i class="bx bx-file"></i>
				</div>
				<div class="menu-title">Invoice</div>
			</a>
		</li>
		<li>
			<a asp-area="Admin" asp-controller="Calendar" asp-action="FullCalendar">
				<div class="parent-icon">
					<i class="bx bx-calendar-check"></i>
				</div>
				<div class="menu-title">Calendar</div>
			</a>
		</li>
		<li class="menu-label">UI Elements</li>
		<li>
			<a asp-area="Admin" asp-controller="Widgets" asp-action="Index">
				<div class="parent-icon">
					<i class="bx bx-ghost"></i>
				</div>
				<div class="menu-title">Widgets</div>
			</a>
		</li>
		<li>
			<a class="has-arrow" href="javascript:;">
				<div class="parent-icon"><i class="bx bx-spa"></i>
				</div>
				<div class="menu-title">Components</div>
			</a>
			<ul>
				<li>
					<a asp-area="Admin" asp-controller="Component" asp-action="Alerts">
                		<i class="bx bx-right-arrow-alt"></i>Alerts
                	</a>
				</li>
				<li>
					<a asp-area="Admin" asp-controller="Component" asp-action="Badge">
						<i class="bx bx-right-arrow-alt"></i>Badge
					</a>
				</li>
				<li> 
					<a asp-area="Admin" asp-controller="Component" asp-action="Buttons">
						<i class="bx bx-right-arrow-alt"></i>Buttons
					</a>
				</li>
				<li> 
					<a asp-area="Admin" asp-controller="Component" asp-action="Cards">
						<i class="bx bx-right-arrow-alt"></i>Cards
					</a>
				</li>
				<li> 
					<a asp-area="Admin" asp-controller="Component" asp-action="Carousel">
						<i class="bx bx-right-arrow-alt"></i>Carousel
					</a>
				</li>
				<li> 
					<a asp-area="Admin" asp-controller="Component" asp-action="Acordians">
						<i class="bx bx-right-arrow-alt"></i>Acordians
					</a>
				</li>
				<li> 
					<a asp-area="Admin" asp-controller="Component" asp-action="ListGroups">
						<i class="bx bx-right-arrow-alt"></i>List Groups
					</a>
				</li>
				<li> 
					<a asp-area="Admin" asp-controller="Component" asp-action="MediaObjects">
						<i class="bx bx-right-arrow-alt"></i>Media Objects
					</a>
				</li>
				<li> 
					<a asp-area="Admin" asp-controller="Component" asp-action="Modal">
						<i class="bx bx-right-arrow-alt"></i>Modal
					</a>
				</li>
				<li> 
					<a asp-area="Admin" asp-controller="Component" asp-action="Navs">
						<i class="bx bx-right-arrow-alt"></i>Navs
					</a>
				</li>
				<li> 
					<a asp-area="Admin" asp-controller="Component" asp-action="Navbar">
						<i class="bx bx-right-arrow-alt"></i>Navbar
					</a>
				</li>
				<li>
					 <a asp-area="Admin" asp-controller="Component" asp-action="Pagination">
						<i class="bx bx-right-arrow-alt"></i>Pagination
					 </a>
				</li>
				<li> 
					<a asp-area="Admin" asp-controller="Component" asp-action="PopoversTooltips">
						<i class="bx bx-right-arrow-alt"></i>Popovers & Tooltips
					</a>
				</li>
				<li> 
					<a asp-area="Admin" asp-controller="Component" asp-action="Progress">
						<i class="bx bx-right-arrow-alt"></i>Progress
					</a>
				</li>
				<li> 
					<a asp-area="Admin" asp-controller="Component" asp-action="Spinners">
						<i class="bx bx-right-arrow-alt"></i>Spinners
					</a>
				</li>
				<li> 
					<a asp-area="Admin" asp-controller="Component" asp-action="Notifications">
						<i class="bx bx-right-arrow-alt"></i>Notifications
					</a>
				</li>
				<li> 
					<a asp-area="Admin" asp-controller="Component" asp-action="AvatrsChips">
						<i class="bx bx-right-arrow-alt"></i>Avatrs & Chips
					</a>
				</li>
			</ul>
		</li>
		<li>
			<a class="has-arrow" href="javascript:;">
				<div class="parent-icon">
					<i class="bx bx-repeat"></i>
				</div>
				<div class="menu-title">Content</div>
			</a>
			<ul>
				<li> 
					<a asp-area="Admin" asp-controller="Content" asp-action="GridSystem">
						<i class="bx bx-right-arrow-alt"></i>Grid System
					</a>
				</li>
				<li> 
					<a asp-area="Admin" asp-controller="Content" asp-action="Typography">
						<i class="bx bx-right-arrow-alt"></i>Typography
					</a>
				</li>
				<li> 
					<a asp-area="Admin" asp-controller="Content" asp-action="TextUtilities">
						<i class="bx bx-right-arrow-alt"></i>Text Utilities
					</a>
				</li>
			</ul>
		</li>
		<li>
			<a class="has-arrow" href="javascript:;">
				<div class="parent-icon"> <i class="bx bx-donate-blood"></i>
				</div>
				<div class="menu-title">Icons</div>
			</a>
			<ul>
				<li>
					<a asp-area="Admin" asp-controller="Icons" asp-action="LineIcons">
						<i class="bx bx-right-arrow-alt"></i>Line Icons
					</a>
				</li>
				<li> 
					<a asp-area="Admin" asp-controller="Icons" asp-action="BoxIcons">
						<i class="bx bx-right-arrow-alt"></i>Box Icons
					</a>
				</li>
				<li>
					<a asp-area="Admin" asp-controller="Icons" asp-action="FeatherIcons">
						<i class="bx bx-right-arrow-alt"></i>Feather Icons
					</a>
				</li>
			</ul>
		</li>
		<li class="menu-label">Forms & Tables</li>
		<li>
			<a class="has-arrow" href="javascript:;">
				<div class="parent-icon"> <i class="bx bx-comment-edit"></i>
				</div>
				<div class="menu-title">Forms</div>
			</a>
			<ul>
				<li> 
					<a asp-area="Admin" asp-controller="Form" asp-action="FormElements">
						<i class="bx bx-right-arrow-alt"></i>Form Elements
					</a>
				</li>
				<li> 
					<a asp-area="Admin" asp-controller="Form" asp-action="InputGroups">
					<i class="bx bx-right-arrow-alt"></i>Input Groups
					</a>
				</li>
				<li> 
					<a asp-area="Admin" asp-controller="Form" asp-action="FormsLayouts">
						<i class="bx bx-right-arrow-alt"></i>Forms Layouts
					</a>
				</li>
				<li> 
					<a asp-area="Admin" asp-controller="Form" asp-action="FormValidation">
						<i class="bx bx-right-arrow-alt"></i>Form Validation
					</a>
				</li>
				<li> 
					<a asp-area="Admin" asp-controller="Form" asp-action="FormWizard">
						<i class="bx bx-right-arrow-alt"></i>Form Wizard
					</a>
				</li>
				<li> 
					<a asp-area="Admin" asp-controller="Form" asp-action="TextEditor">
						<i class="bx bx-right-arrow-alt"></i>Text Editor
					</a>
				</li>
				<li> 
					<a asp-area="Admin" asp-controller="Form" asp-action="FileUpload">
						<i class="bx bx-right-arrow-alt"></i>File Upload
					</a>
				</li>
				<li> 
					<a asp-area="Admin" asp-controller="Form" asp-action="DatePickers">
						<i class="bx bx-right-arrow-alt"></i>Date Pickers
					</a>
				</li>
				<li> 
					<a asp-area="Admin" asp-controller="Form" asp-action="Select2">
						<i class="bx bx-right-arrow-alt"></i>Select2
					</a>
				</li>
			</ul>
		</li>
		<li>
			<a class="has-arrow" href="javascript:;">
				<div class="parent-icon"><i class="bx bx-grid-alt"></i>
				</div>
				<div class="menu-title">Tables</div>
			</a>
			<ul>
				<li> <a href="table-basic-table.html"><i class="bx bx-right-arrow-alt"></i>Basic Table</a>
				</li>
				<li> <a href="table-datatable.html"><i class="bx bx-right-arrow-alt"></i>Data Table</a>
				</li>
				<li> <a href="table-editable.html"><i class="bx bx-right-arrow-alt"></i>Editable Table</a>
				</li>
			</ul>
		</li>
		<li class="menu-label">Pages</li>
		<li>
			<a class="has-arrow" href="javascript:;">
				<div class="parent-icon"><i class="bx bx-lock"></i>
				</div>
				<div class="menu-title">Authentication</div>
			</a>
			<ul>
				<li> <a href="authentication-login.html" target="_blank"><i class="bx bx-right-arrow-alt"></i>Login</a>
				</li>
				<li> <a href="authentication-register.html" target="_blank"><i class="bx bx-right-arrow-alt"></i>Register</a>
				</li>
				<li> <a href="authentication-forgot-password.html" target="_blank"><i class="bx bx-right-arrow-alt"></i>Forgot Password</a>
				</li>
				<li> <a href="authentication-reset-password.html" target="_blank"><i class="bx bx-right-arrow-alt"></i>Reset Password</a>
				</li>
				<li> <a href="authentication-lock-screen.html" target="_blank"><i class="bx bx-right-arrow-alt"></i>Lock Screen</a>
				</li>
			</ul>
		</li>
		<li>
			<a href="user-profile.html">
				<div class="parent-icon"><i class="bx bx-user-circle"></i>
				</div>
				<div class="menu-title">User Profile</div>
			</a>
		</li>
		<li>
			<a href="timeline.html">
				<div class="parent-icon"> <i class="bx bx-video-recording"></i>
				</div>
				<div class="menu-title">Timeline</div>
			</a>
		</li>
		<li>
			<a class="has-arrow" href="javascript:;">
				<div class="parent-icon"><i class="bx bx-error"></i>
				</div>
				<div class="menu-title">Errors</div>
			</a>
			<ul>
				<li> <a href="errors-404-error.html" target="_blank"><i class="bx bx-right-arrow-alt"></i>404 Error</a>
				</li>
				<li> <a href="errors-500-error.html" target="_blank"><i class="bx bx-right-arrow-alt"></i>500 Error</a>
				</li>
				<li> <a href="errors-coming-soon.html" target="_blank"><i class="bx bx-right-arrow-alt"></i>Coming Soon</a>
				</li>
			</ul>
		</li>
		<li>
			<a href="faq.html">
				<div class="parent-icon"><i class="bx bx-help-circle"></i>
				</div>
				<div class="menu-title">FAQ</div>
			</a>
		</li>
		<li>
			<a href="pricing-table.html">
				<div class="parent-icon"><i class="bx bx-diamond"></i>
				</div>
				<div class="menu-title">Pricing</div>
			</a>
		</li>
		<li class="menu-label">Charts & Maps</li>
		<li>
			<a class="has-arrow" href="javascript:;">
				<div class="parent-icon"><i class="bx bx-line-chart"></i>
				</div>
				<div class="menu-title">Charts</div>
			</a>
			<ul>
				<li> <a href="charts-apex-chart.html"><i class="bx bx-right-arrow-alt"></i>Apex</a>
				</li>
				<li> <a href="charts-chartjs.html"><i class="bx bx-right-arrow-alt"></i>Chartjs</a>
				</li>
				<li> <a href="charts-highcharts.html"><i class="bx bx-right-arrow-alt"></i>Highcharts</a>
				</li>
			</ul>
		</li>
		<li>
			<a class="has-arrow" href="javascript:;">
				<div class="parent-icon"><i class="bx bx-map-alt"></i>
				</div>
				<div class="menu-title">Maps</div>
			</a>
			<ul>
				<li> <a href="map-google-maps.html"><i class="bx bx-right-arrow-alt"></i>Google Maps</a>
				</li>
				<li> <a href="map-vector-maps.html"><i class="bx bx-right-arrow-alt"></i>Vector Maps</a>
				</li>
			</ul>
		</li>
		<li class="menu-label">Others</li>
		<li>
			<a class="has-arrow" href="javascript:;">
				<div class="parent-icon"><i class="bx bx-menu"></i>
				</div>
				<div class="menu-title">Menu Levels</div>
			</a>
			<ul>
				<li> <a class="has-arrow" href="javascript:;"><i class="bx bx-right-arrow-alt"></i>Level One</a>
					<ul>
						<li> <a class="has-arrow" href="javascript:;"><i class="bx bx-right-arrow-alt"></i>Level Two</a>
							<ul>
								<li> <a href="javascript:;"><i class="bx bx-right-arrow-alt"></i>Level Three</a>
								</li>
							</ul>
						</li>
					</ul>
				</li>
			</ul>
		</li>
		<li>
			<a href="https://codervent.com/syntrans/documentation/index.html" target="_blank">
				<div class="parent-icon"><i class="bx bx-folder"></i>
				</div>
				<div class="menu-title">Documentation</div>
			</a>
		</li>
		<li>
			<a href="https://themeforest.net/user/codervent" target="_blank">
				<div class="parent-icon"><i class="bx bx-support"></i>
				</div>
				<div class="menu-title">Support</div>
			</a>
		</li>
	</ul>
</div>