@section StylePage{
	<link rel="stylesheet" href="~/plugins/datetimepicker/css/classic.css" />
	<link rel="stylesheet" href="~/plugins/datetimepicker/css/classic.time.css" />
	<link rel="stylesheet" href="~/plugins/datetimepicker/css/classic.date.css" />
	<link rel="stylesheet" href="~/plugins/bootstrap-material-datetimepicker/css/bootstrap-material-datetimepicker.min.css">
	<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
}
<div class="page-wrapper">
	<div class="page-content-wrapper">
		<div class="page-content">
			<div class="page-breadcrumb d-none d-md-flex align-items-center mb-3">
				<div class="breadcrumb-title pr-3">Forms</div>
				<div class="pl-3">
					<nav aria-label="breadcrumb">
						<ol class="breadcrumb mb-0 p-0">
							<li class="breadcrumb-item"><a href="javascript:;"><i class='bx bx-home-alt'></i></a>
							</li>
							<li class="breadcrumb-item active" aria-current="page">DateTimePicker</li>
						</ol>
					</nav>
				</div>
				<div class="ml-auto">
					<div class="btn-group">
						<button type="button" class="btn btn-light">Settings</button>
						<button type="button" class="btn btn-light dropdown-toggle dropdown-toggle-split" data-toggle="dropdown">	<span class="sr-only">Toggle Dropdown</span>
						</button>
						<div class="dropdown-menu dropdown-menu-right dropdown-menu-lg-left">	<a class="dropdown-item" href="javascript:;">Action</a>
							<a class="dropdown-item" href="javascript:;">Another action</a>
							<a class="dropdown-item" href="javascript:;">Something else here</a>
							<div class="dropdown-divider"></div>	<a class="dropdown-item" href="javascript:;">Separated link</a>
						</div>
					</div>
				</div>
			</div>
			<div class="card radius-15">
				<div class="card-body">
					<div class="card-title">
						<h4 class="mb-0">Date Time Pickers</h4>
					</div>
					<hr/>
					<div class="form-group">
						<label>Pick a Date</label>
						<input type="text" class="form-control datepicker" />
					</div>
					<div class="form-group">
						<label>Time Picker</label>
						<input type="text" class="form-control timepicker" />
					</div>
				</div>
			</div>
			<div class="card radius-15">
				<div class="card-body">
					<div class="card-title">
						<h4 class="mb-0">Material DatePicker</h4>
					</div>
					<hr/>
					<div class="form-group">
						<label>Default Date and Time Picker</label>
						<input class="result form-control" type="text" id="date-time" placeholder="Date Picker...">
					</div>
					<div class="form-group">
						<label>Date Only Picker</label>
						<input class="result form-control" type="text" id="date" placeholder="Date Picker...">
					</div>
					<div class="form-group">
						<label>Time Only Picker</label>
						<input class="result form-control" type="text" id="time" placeholder="Date Picker...">
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
@section ScriptPage {
	<script src="~/plugins/datetimepicker/js/legacy.js"></script>
	<script src="~/plugins/datetimepicker/js/picker.js"></script>
	<script src="~/plugins/datetimepicker/js/picker.time.js"></script>
	<script src="~/plugins/datetimepicker/js/picker.date.js"></script>
	<script src="~/plugins/bootstrap-material-datetimepicker/js/moment.min.js"></script>
	<script src="~/plugins/bootstrap-material-datetimepicker/js/bootstrap-material-datetimepicker.min.js"></script>
	<script>
		$('.datepicker').pickadate({
			selectMonths: true,
	        selectYears: true
		}),
		$('.timepicker').pickatime()
	</script>
	<script>
		$(function () {
			$('#date-time').bootstrapMaterialDatePicker({
				format: 'YYYY-MM-DD HH:mm'
			});
			$('#date').bootstrapMaterialDatePicker({
				time: false
			});
			$('#time').bootstrapMaterialDatePicker({
				date: false,
				format: 'HH:mm'
			});
		});
	</script>
}