<div class="page-wrapper">
	<div class="page-content-wrapper">
		<div class="page-content">
			<div class="page-breadcrumb d-none d-md-flex align-items-center mb-3">
				<div class="breadcrumb-title pr-3">Content</div>
				<div class="pl-3">
					<nav aria-label="breadcrumb">
						<ol class="breadcrumb mb-0 p-0">
							<li class="breadcrumb-item"><a href="javascript:;"><i class='bx bx-home-alt'></i></a>
							</li>
							<li class="breadcrumb-item active" aria-current="page">Grid System</li>
						</ol>
					</nav>
				</div>
				<div class="ml-auto">
					<div class="btn-group">
						<button type="button" class="btn btn-light">Settings</button>
						<button type="button" class="btn btn-light dropdown-toggle dropdown-toggle-split" data-toggle="dropdown">	<span class="sr-only">Toggle Dropdown</span>
						</button>
						<div class="dropdown-menu dropdown-menu-right dropdown-menu-lg-left">	<a class="dropdown-item" href="javascript:;">Action</a>
							<a class="dropdown-item" href="javascript:;">Another action</a>
							<a class="dropdown-item" href="javascript:;">Something else here</a>
							<div class="dropdown-divider"></div>	<a class="dropdown-item" href="javascript:;">Separated link</a>
						</div>
					</div>
				</div>
			</div>
			<div class="card radius-15">
				<div class="card-body">
					<div class="card-title">
						<h4 class="mb-0">Grid System</h4>
					</div>
					<hr/>
					<div class="table-responsive">
						<table class="table table-bordered table-striped mb-0">
							<thead>
								<tr>
									<th></th>
									<th class="text-center">Extra small
										<br>	<small>&lt;576px</small>
									</th>
									<th class="text-center">Small
										<br>	<small>≥576px</small>
									</th>
									<th class="text-center">Medium
										<br>	<small>≥768px</small>
									</th>
									<th class="text-center">Large
										<br>	<small>≥992px</small>
									</th>
									<th class="text-center">Extra large
										<br>	<small>≥1200px</small>
									</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<th class="text-nowrap" scope="row">Max container width</th>
									<td>None (auto)</td>
									<td>540px</td>
									<td>720px</td>
									<td>960px</td>
									<td>1140px</td>
								</tr>
								<tr>
									<th class="text-nowrap" scope="row">Class prefix</th>
									<td><code>.col-</code>
									</td>
									<td><code>.col-sm-</code>
									</td>
									<td><code>.col-md-</code>
									</td>
									<td><code>.col-lg-</code>
									</td>
									<td><code>.col-xl-</code>
									</td>
								</tr>
								<tr>
									<th class="text-nowrap" scope="row"># of columns</th>
									<td colspan="5">12</td>
								</tr>
								<tr>
									<th class="text-nowrap" scope="row">Gutter width</th>
									<td colspan="5">30px (15px on each side of a column)</td>
								</tr>
								<tr>
									<th class="text-nowrap" scope="row">Nestable</th>
									<td colspan="5">Yes</td>
								</tr>
								<tr>
									<th class="text-nowrap" scope="row">Column ordering</th>
									<td colspan="5">Yes</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>