@model ManagerViewModel
@section StylePage
{
    <link rel="stylesheet" href="~/css/adminpanel/custom.css" />
}
@{
    ViewData["Title"] = "Сохранение менеджера";
}
<div class="page-wrapper">
    <div class="page-content-wrapper">
        <div class="page-content">
            <div class="page-breadcrumb d-none d-md-flex align-items-center mb-3">
                <div class="breadcrumb-title pr-3">Персонал фитнес-центра</div>
                <div class="pl-3">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb mb-0 p-0">
                            <li class="breadcrumb-item">
                                <a href="javascript:;"><i class='bx bx-home-alt'></i></a>
                            </li>
                            <li class="breadcrumb-item active" aria-current="page">Менеджеры</li>
                        </ol>
                    </nav>
                </div>
            </div>
            <div class="card radius-15">
                <div class="card-body">
                    <div class="card-title">
                        <h4 class="mb-0">Форма</h4>
                    </div>
                    <hr />
                    <div class="form-body">
                        <form method="post" action="/Admin/Staff/Save">
                            <input type="hidden" asp-for="Manager.Id" />
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label">Логин</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" asp-for="Manager.UserName" min="1" required>
                                    <span class="invalid-feedback" style="display: block;" asp-validation-for="Manager.UserName"></span>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label">Пароль</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" asp-for="CurrentPassword" pattern="^.*(?=.{5,})(?=.*\d)(?=.*[!#№$%^&*])(?=.*[a-z])(?=.*[A-Z]).*$" required>
                                    <span class="invalid-feedback" style="display: block;" asp-validation-for="CurrentPassword"></span>
                                </div>
                            </div>
                            @if (!string.IsNullOrEmpty(Model.Manager.PasswordHash))
                            {
                                <div class="form-group row">
                                    <label class="col-sm-2 col-form-label">Новый пароль</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" asp-for="NewPassword" pattern="^.*(?=.{5,})(?=.*\d)(?=.*[!#№$%^&*])(?=.*[a-z])(?=.*[A-Z]).*$" required>
                                        <span class="invalid-feedback" style="display: block;" asp-validation-for="NewPassword"></span>
                                    </div>
                                </div>
                            }
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label">Электронная почта</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" asp-for="Manager.Email" min="1" required>
                                    <span class="invalid-feedback" style="display: block;" asp-validation-for="Manager.Email"></span>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label">Номер телефона</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" asp-for="Manager.PhoneNumber" min="1" required>
                                    <span class="invalid-feedback" style="display: block;" asp-validation-for="Manager.PhoneNumber"></span>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label"></label>
                                <div class="col-sm-10">
                                    <input type="submit" class="btn btn-light px-4" value="Сохранить" />
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>