@model ServiceViewModel
@section StylePage
{
    <link rel="stylesheet" href="~/css/adminpanel/custom.css" />
}
@{
    ViewData["Title"] = "Сохранение услуги";
}
<div class="page-wrapper">
    <div class="page-content-wrapper">
        <div class="page-content">
            <div class="page-breadcrumb d-none d-md-flex align-items-center mb-3">
                <div class="breadcrumb-title pr-3">База данных</div>
                <div class="pl-3">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb mb-0 p-0">
                            <li class="breadcrumb-item">
                                <a href="javascript:;"><i class='bx bx-home-alt'></i></a>
                            </li>
                            <li class="breadcrumb-item active" aria-current="page">Услуги</li>
                        </ol>
                    </nav>
                </div>
            </div>
            <div class="card radius-15">
                <div class="card-body">
                    <div class="card-title">
                        <h4 class="mb-0">Форма</h4>
                    </div>
                    <hr />
                    <div class="form-body">
                        <form method="post" action="/Admin/Services/Save">
                            <input type="hidden" asp-for="Service.Id" />
                            @for (int i = 0; i < Model.Categories.Count; i++)
                            {
                                <input type="hidden" asp-for="@Model.Categories[i].Id" />
                                <input type="hidden" asp-for="@Model.Categories[i].Name" />
                            }
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label">Наименование</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" asp-for="Service.Name" min="1" required>
                                    <span class="invalid-feedback" style="display: block;" asp-validation-for="Service.Name"></span>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label">Тип услуги</label>
                                <div class="col-sm-10">
                                    <select class="form-control" asp-for="Service.CategoryId" required>
                                        @foreach (var category in Model.Categories)
                                        {
                                            <option value="@category.Id">@category.Name</option>
                                        }
                                    </select>
                                    <span class="invalid-feedback" style="display: block;" asp-validation-for="Service.CategoryId"></span>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label">Тренерство</label>
                                <div class="col-sm-10">
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" id="requireATrainer" asp-for="Service.RequireATrainer" required>
                                        <label class="form-check-label" for="requireATrainer">Требует тренера</label>
                                    </div>
                                    <span class="invalid-feedback" style="display: block;" asp-validation-for="Service.RequireATrainer"></span>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label">Описание</label>
                                <div class="col-sm-10">
                                    <textarea id="description-text-area" asp-for="Service.Description"></textarea>
                                    <span class="invalid-feedback" style="display: block;" asp-validation-for="Service.Description"></span>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label">Стоимость</label>
                                <div class="col-sm-10">
                                    <input type="number" class="form-control" asp-for="Service.Price" min="0" required>
                                    <span class="invalid-feedback" style="display: block;" asp-validation-for="Service.Price"></span>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label">Максимальное кол-во использований</label>
                                <div class="col-sm-10">
                                    <input type="number" class="form-control" asp-for="Service.CountUses" min="0">
                                    <span class="invalid-feedback" style="display: block;" asp-validation-for="Service.CountUses"></span>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label">Длительность действия (дни)</label>
                                <div class="col-sm-10">
                                    <input type="number" class="form-control" asp-for="Service.Duration" min="0">
                                    <span class="invalid-feedback" style="display: block;" asp-validation-for="Service.Duration"></span>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label"></label>
                                <div class="col-sm-10">
                                    <input type="submit" class="btn btn-light px-4" value="Сохранить" />
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section ScriptPage {
    <script src="~/plugins/ckeditor/ckeditor.js" asp-append-version="true"></script>
    <script>
        CKEDITOR.replace("Service.Description", {
            height: 400,
            filebrowserUploadUrl: "/Admin/Services/UploadCKEditor",
            filebrowserBrowseUrl: "/Admin/Services/FileBrowse"
        });
    </script>
}