@model MainViewModel
<section id="blog" class="parallax-section">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12 text-center">
                <h2>Блог о фитнесе</h2>
                <p></p>
            </div>
            @if (Model.Blog != null)
            {
                for (int i = 0; i < Model.Blog.Count; i++)
                {
                    <div class="wow fadeInUp col-md-6 col-sm-12" data-wow-delay="@(0.9 + (i * 0.3))s">
                        <div class="blog-thumb">
                            <span class="blog-date">Фитнес-центр / @Model.Blog[i].CreatedAt.ToLongDateString()</span>
                            <h3 class="blog-title"><a asp-area="" asp-controller="Blog" asp-action="Details" asp-route-id="@Model.Blog[i].Id">@Model.Blog[i].Title</a></h3>
                            <h5 id="blog-author">Администратор</h5>
                        </div>
                    </div>
                }
            }

            <div class="col-md-offset-3 col-md-6 col-sm-offset-2 col-sm-8">
                <a asp-area="" asp-controller="Blog" asp-action="Index">
                    <button name="submit" type="button" class="form-control" id="submit">Больше новостей</button>
                </a>
            </div>
        </div>
    </div>
</section>