<div class="pitch text-center" id="classes">
    <div class="container">
        <div class="pitch-intro">
            <h1 class="wow fadeInDown" data-wow-delay="0.2s">EVERYTHING IS POSSIBLE WITH ME</h1>
            <p class="wow fadeInDown" data-wow-delay="0.2s">Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan.</p>
        </div>
        <div class="col-md-12">
            <div class="col-md-4 wow fadeInDown" data-wow-delay="0.2s">
                <div class="pitch-icon"> <i class="ion-ios-checkmark-outline"></i> </div>
                <div class="pitch-content">
                    <h1>Personal Training</h1>
                    <p> Aliquam vel euismod elit, sed suscipit est. Sed tincidunt venenatis ligula ac luctus. Fusce egestas volutpat mi sed pellentesque. </p>
                </div>
            </div>
            <div class="col-md-4 wow fadeInDown" data-wow-delay="0.2s">
                <div class="pitch-icon"> <i class="ion-ios-mic-outline"></i> </div>
                <div class="pitch-content">
                    <h1>Cardio Training</h1>
                    <p> Aliquam vel euismod elit, sed suscipit est. Sed tincidunt venenatis ligula ac luctus. Fusce egestas volutpat mi sed pellentesque. </p>
                </div>
            </div>
            <div class="col-md-4 wow fadeInDown" data-wow-delay="0.2s">
                <div class="pitch-icon"> <i class="ion-ios-folder-outline"></i> </div>
                <div class="pitch-content">
                    <h1>Freestyle Training</h1>
                    <p> Aliquam vel euismod elit, sed suscipit est. Sed tincidunt venenatis ligula ac luctus. Fusce egestas volutpat mi sed pellentesque. </p>
                </div>
            </div>
            <div class="col-md-4 wow fadeInDown" data-wow-delay="0.2s">
                <div class="pitch-icon"> <i class="ion-ios-folder-outline"></i> </div>
                <div class="pitch-content">
                    <h1>Sport Nutrition</h1>
                    <p> Aliquam vel euismod elit, sed suscipit est. Sed tincidunt venenatis ligula ac luctus. Fusce egestas volutpat mi sed pellentesque. </p>
                </div>
            </div>
            <div class="col-md-4 wow fadeInDown" data-wow-delay="0.2s">
                <div class="pitch-icon"> <i class="ion-ios-folder-outline"></i> </div>
                <div class="pitch-content">
                    <h1>Functional Training</h1>
                    <p> Aliquam vel euismod elit, sed suscipit est. Sed tincidunt venenatis ligula ac luctus. Fusce egestas volutpat mi sed pellentesque. </p>
                </div>
            </div>
            <div class="col-md-4 wow fadeInDown" data-wow-delay="0.2s">
                <div class="pitch-icon"> <i class="ion-ios-folder-outline"></i> </div>
                <div class="pitch-content">
                    <h1>Crossfit</h1>
                    <p> Aliquam vel euismod elit, sed suscipit est. Sed tincidunt venenatis ligula ac luctus. Fusce egestas volutpat mi sed pellentesque. </p>
                </div>
            </div>
        </div>
    </div>
</div>