<div class="review-section" id="review">
    <div class="container">
        <div class="col-md-10 col-md-offset-1">
            <div class="reviews owl-carousel owl-theme">
                <div class="review-single">
                    <img class="img-circle" src="~/images/main/customer1.png" alt="Client Testimonoal" />
                    <div class="review-text wow fadeInUp" data-wow-delay="0.2s">
                        <p>
                            Morbi eget dictum enim. Praesent sed quam sit amet lorem tempor rhoncus. <br>
                            In hac habitasse platea dictumst. Vivamus in accumsan ex
                        </p>
                        <h3>Johnathan Doe</h3>
                        <h3>Marketing Head Matrix media</h3>
                    </div>
                </div>
                <div class="review-single">
                    <img class="img-circle" src="~/images/main/customer2.png" alt="Client Testimonoal" />
                    <div class="review-text">
                        <p>
                            Morbi eget dictum enim. Praesent sed quam sit amet lorem tempor rhoncus. <br>
                            In hac habitasse platea dictumst. Vivamus in accumsan ex
                        </p>
                        <h3>Oidila Matik</h3>
                        <h3>President Lexo Inc</h3>
                    </div>
                </div>
                <div class="review-single">
                    <img class="img-circle" src="~/images/main/customer3.png" alt="Client Testimonoal" />
                    <div class="review-text">
                        <p>
                            Morbi eget dictum enim. Praesent sed quam sit amet lorem tempor rhoncus. <br>
                            In hac habitasse platea dictumst. Vivamus in accumsan ex
                        </p>
                        <h3>- Alex Dattilo</h3>
                        <h3>CEO Optima Inc</h3>
                    </div>
                </div>
                <div class="review-single">
                    <img class="img-circle" src="~/images/main/customer4.png" alt="Client Testimonoal" />
                    <div class="review-text">
                        <p>
                            Morbi eget dictum enim. Praesent sed quam sit amet lorem tempor rhoncus. <br>
                            In hac habitasse platea dictumst. Vivamus in accumsan ex
                        </p>
                        <h3>- Robert Hammer</h3>
                        <h3>design head Omega Corp</h3>
                    </div>
                </div>
                <div class="review-single">
                    <img class="img-circle" src="~/images/main/customer5.png" alt="Client Testimonoal" />
                    <div class="review-text">
                        <p>
                            Morbi eget dictum enim. Praesent sed quam sit amet lorem tempor rhoncus. <br>
                            In hac habitasse platea dictumst. Vivamus in accumsan ex
                        </p>
                        <h3>- Rita Valentine</h3>
                        <h3>CEO Behena digital</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>