<div class="app-features text-center" id="features">
    <div class="container">
        <h1 class="wow fadeInDown" data-wow-delay="0.1s">My promise to you</h1>
        <p class="wow fadeInDown" data-wow-delay="0.2s">
            Aliquam sagittis ligula et sem lacinia, ut facilisis enim sollicitudin. Proin nisi est,<br class="hidden-xs">
            convallis nec purus vitae, iaculis posuere sapien.
        </p>
        <div class="col-md-4 features-left text-right">
            <div class="col-md-12 wow fadeInDown" data-wow-delay="0.2s">
                <div class="icon"> <i class="ion-ios-list-outline"></i> </div>
                <div class="feature-single">
                    <p>Will create a plan that’s tailored to your situation and create your everyday nutrition strategies.</p>
                </div>
            </div>
            <div class="col-md-12 wow fadeInDown" data-wow-delay="0.3s">
                <div class="icon"> <i class="ion-ios-speedometer-outline"></i> </div>
                <div class="feature-single">
                    <p>Bring to the table win-win survival strategies to ensure proactive domination.</p>
                </div>
            </div>
            <div class="col-md-12 wow fadeInDown" data-wow-delay="0.4s">
                <div class="icon"> <i class="ion-ios-pulse"></i> </div>
                <div class="feature-single">
                    <p>Will create a plan that’s tailored to your situation and create your everyday nutrition strategies.</p>
                </div>
            </div>
        </div>
        <div class="col-md-4 wow fadeInDown" data-wow-delay="0.5s"> <img class="img-responsive" src="~/images/main/iPhone-app.png" alt="App" /> </div>
        <div class="col-md-4 features-left text-left">
            <div class="col-md-12 wow fadeInDown" data-wow-delay="0.6s">
                <div class="icon"> <i class="ion-ios-americanfootball-outline"></i> </div>
                <div class="feature-single">
                    <p> Bring to the table win-win survival strategies to ensure proactive domination.</p>
                </div>
            </div>
            <div class="col-md-12 wow fadeInDown" data-wow-delay="0.7s">
                <div class="icon"> <i class="ion-ios-heart-outline"></i> </div>
                <div class="feature-single">
                    <p>Bring to the table win-win survival strategies to ensure proactive domination.</p>
                </div>
            </div>
            <div class="col-md-12 wow fadeInDown" data-wow-delay="0.8s">
                <div class="icon"> <i class="ion-ios-analytics-outline"></i> </div>
                <div class="feature-single">
                    <p>Will create a plan that’s tailored to your situation and create your everyday nutrition strategies.</p>
                </div>
            </div>
        </div>
    </div>
</div>