@{
    ViewData["Title"] = "Home Page";
}
<section id="home" class="parallax-section">
    <div class="container">
        <div class="row">
            <div class="col-md-offset-1 col-md-10 col-sm-12">
                <h3 class="wow bounceIn" data-wow-delay="0.9s">Hello! you are welcome to</h3>
                <h1 class="wow fadeInUp" data-wow-delay="1.6s">Professional<br>Fitness Club</h1>
                <a href="#overview" class="wow fadeInUp smoothScroll btn btn-default" data-wow-delay="2s">LEARN MORE</a>
            </div>
        </div>
    </div>
</section>
@await Html.PartialAsync("OverviewPartial")
@await Html.PartialAsync("TrainerPartial")
@await Html.PartialAsync("NewsletterPartial")
@await Html.PartialAsync("BlogPartial")
@await Html.PartialAsync("PricePartial")
@await Html.PartialAsync("TestimonialPartial")