<div class="hero-section">
    <div class="container nopadding">
        <div class="col-md-12">
            <div class="hero-content text-center">
                <h1 class="wow fadeInUp" data-wow-delay="0.1s">HEALTH POWER HAPPINESS</h1>
                <p class="wow fadeInUp" data-wow-delay="0.2s"> Bring to the table win-win survival strategies to ensure proactive domination. </p>
                <a href="#" class="btn btn-action wow fadeInUp" style="visibility: visible; animation-name: fadeInUp;">Get Strated</a>
            </div>
        </div>
    </div>
</div>