<section id="overview" class="parallax-section">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-12">
                <img src="~/images/main/overview-img.jpg" class="img-responsive" alt="Overview">
                <blockquote class="wow fadeInUp" data-wow-delay="1.9s">Fitness is free website template that can be used for any company. You may download, modify and use this layout for your website.</blockquote>
            </div>
            <div class="col-md-1"></div>

            <div class="wow fadeInUp col-md-4 col-sm-12" data-wow-delay="1s">
                <div class="overview-detail">
                    <h2>About Fitness</h2>
                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet. Dolore magna aliquam erat.</p>
                    <p>Fitness web template includes total 2 pages. This is an index (main) page and another is a <a href="blog-single.html">blog page</a>.</p>
                    <a href="#trainer" class="btn btn-default smoothScroll">Let us begin</a>
                </div>
            </div>
            <div class="col-md-1"></div>
        </div>
    </div>
</section>