<section id="overview" class="parallax-section">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-12">
                <img src="~/images/main/overview-img.jpg" class="img-responsive" alt="Overview">
                <blockquote class="wow fadeInUp" data-wow-delay="1.9s">Фитнес – это комплекс физических упражнений, направленных на улучшения качества тела и оздоровления организма в целом.</blockquote>
            </div>
            <div class="col-md-1"></div>

            <div class="wow fadeInUp col-md-4 col-sm-12" data-wow-delay="1s">
                <div class="overview-detail">
                    <h2>О фитнесе-центре</h2>
                    <p>
                        Здоровый образ жизни, здоровое и красивое тело и активный отдых уже давно задают тренды обществу.
                        Но, зачастую, у всех нас либо не хватает времени, либо в семейный бюджет не вписывается строчка о спорт-клубе.
                        Поэтому, наша сеть предлагает всем желающим современные, качественно оснащеные фитнес-центры, с действительно народным ценами, где можно заниматься в любое, удобное для вас время!
                    </p>
                    <a href="#trainer" class="btn btn-default smoothScroll">Начнем</a>
                </div>
            </div>
            <div class="col-md-1"></div>
        </div>
    </div>
</section>