<div id="pricing" class="pricing-section text-center">
    <div class="container">
        <div class="col-md-12 col-sm-12 nopadding">
            <div class="pricing-intro">
                <h1 class="wow fadeInUp" data-wow-delay="0s">PACKAGES</h1>
                <p class="wow fadeInUp" data-wow-delay="0.2s">
                    Lorem ipsum dolor sit. Incidunt laborum beatae earum nihil odio consequatur officiis <br class="hidden-xs">
                    tempore consequuntur officia ducimus unde doloribus quod unt repell
                </p>
            </div>
            <div class="col-sm-6">
                <div class="table-left wow fadeInUp" data-wow-delay="0.4s">
                    <div class="pricing-details">
                        <h2>For Beginners</h2>
                        <span>$49.50</span>
                        <ul>
                            <li>Consectetur adipiscing</li>
                            <li>Nunc luctus nulla et tellus</li>
                            <li>Suspendisse quis metus</li>
                            <li>Vestibul varius fermentum erat</li>
                        </ul>
                        <button class="btn btn-primary btn-action btn-fill">Get Plan</button>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="table-right wow fadeInUp" data-wow-delay="0.6s">
                    <div class="pricing-details">
                        <h2>For Professionals</h2>
                        <span>$99.50</span>
                        <ul>
                            <li>Consectetur adipiscing</li>
                            <li>Nunc luctus nulla et tellus</li>
                            <li>Suspendisse quis metus</li>
                            <li>Vestibul varius fermentum erat</li>
                        </ul>
                        <button class="btn btn-primary btn-action btn-fill">Get Plan</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>