@model MainViewModel
<section id="price" class="parallax-section">
    <div class="container">
        <div class="row">
            <div class="wow fadeInUp col-md-12 col-sm-12" data-wow-delay="0.9s">
                <h2>Наши цены</h2>
            </div>
            @if (Model.Services != null)
            {
                for (int i = 0; i < Model.Services.Count; i++)
                {
                    <div class="wow fadeInUp col-md-4 col-sm-6" data-wow-delay="@(1 + (i * 0.3))s">
                        <div class="pricing__item">
                            <h3 class="pricing__title">@Model.Services[i].Name</h3>
                            <div class="pricing__price"><span class="pricing__currency">₽</span>@Model.Services[i].Price</div>
                            <ul class="pricing__feature-list">
                                <li class="pricing__feature">Категория: @Model.Services[i].Category.Name</li>
                            </ul>
                        </div>
                    </div>
                }
            }
        </div>
    </div>
</section>