<div class="split-features2">
    <div class="col-md-6 nopadding">
        <div class="split-content second">
            <h1 class="wow fadeInUp">See The Results and Feel the difference</h1>
            <p class="wow fadeInUp"> Pellentesque eget dolor gravida, tempus purus ac, ultricies mauris. Etiam est nisl, molestie sed egestas bibendum, varius eu diam. Suspendisse est metus, ultrices sit amet dolor in, rhoncus malesuada mi.</p>
            <ul class="wow fadeInUp">
                <li>Nulla ornare purus non consequat ultricies.</li>
                <li>Etiam est nisl, molestie sed egestas bibendum</li>
                <li>Aliquam vel euismod elit, sed suscipit est.</li>
                <li>Curabitur egestas justo neque viverra vel. </li>
            </ul>
        </div>
    </div>
    <div class="col-md-6 nopadding">
        <div class="split-image"> <img class="img-responsive wow fadeIn" src="~/images/main/app_image2.png" alt="Image" /> </div>
    </div>
</div>