@model MainViewModel
<section id="testimonial" class="parallax-section">
    <div class="container">
        <div class="row">
            <div id="owl-testimonial" class="owl-carousel">
                @if (Model.Testimonials != null)
                {
                    @foreach (var testimonial in Model.Testimonials)
                    {
                        <div class="item col-md-offset-2 col-md-8 col-sm-offset-1 col-sm-10 wow fadeInUp" data-wow-delay="0.6s">
                            <i class="fa fa-quote-left"></i>
                            <h3>@testimonial.Message</h3>
                            <h4>@($"{testimonial.Client.LastName} {testimonial.Client.FirstName} {testimonial.Client.MiddleName}") (@testimonial.WrittenAt)</h4>
                        </div>
                    }
                }
            </div>
        </div>
    </div>
</section>