<section id="testimonial" class="parallax-section">
    <div class="container">
        <div class="row">
            <div id="owl-testimonial" class="owl-carousel">
                <div class="item col-md-offset-2 col-md-8 col-sm-offset-1 col-sm-10 wow fadeInUp" data-wow-delay="0.6s">
                    <i class="fa fa-quote-left"></i>
                    <h3>Lorem ipsum dolor sit amet, maecenas eget vestibulum justo imperdiet, wisi risus purus augue vulputate.</h3>
                    <h4>Sandar ( Fashion Designer )</h4>
                </div>
                <div class="item col-md-offset-2 col-md-8 col-sm-offset-1 col-sm-10 wow fadeInUp" data-wow-delay="0.6s">
                    <i class="fa fa-quote-left"></i>
                    <h3>Yes! Lorem ipsum dolor sit amet, maecenas eget vestibulum justo imperdiet, wisi risus purus augue.</h3>
                    <h4>James Job ( Social Assistant )</h4>
                </div>
                <div class="item col-md-offset-2 col-md-8 col-sm-offset-1 col-sm-10 wow fadeInUp" data-wow-delay="0.6s">
                    <i class="fa fa-quote-left"></i>
                    <h3>Sed dapibus rutrum lobortis. Sed nec interdum nunc, quis sodales ante. Maecenas volutpat congue.</h3>
                    <h4>Mark Otto ( New Cyclist )</h4>
                </div>
                <div class="item col-md-offset-2 col-md-8 col-sm-offset-1 col-sm-10 wow fadeInUp" data-wow-delay="0.6s">
                    <i class="fa fa-quote-left"></i>
                    <h3>Lorem ipsum dolor sit amet, maecenas eget vestibulum justo imperdiet, wisi risus purus.</h3>
                    <h4>David Moore ( Pro Boxer )</h4>
                </div>
            </div>
        </div>
    </div>
</section>