<section id="trainer" class="parallax-section">
    <div class="container">
        <div class="row">
            <div class="wow fadeInUp col-md-12 col-sm-12" data-wow-delay="1.3s">
                <h2>our Trainers</h2>
                <p>Lorem ipsum dolor sit amet, maecenas eget vestibulum justo.</p>
            </div>
            <div class="wow fadeInUp col-md-4 col-sm-6" data-wow-delay="1.9s">
                <div class="trainer-thumb">
                    <img src="~/images/main/trainer-img1.jpg" class="img-responsive" alt="Trainer">
                    <div class="trainer-overlay">
                        <div class="trainer-des">
                            <h2>Jenny</h2>
                            <h3>Body Trainer</h3>
                            <ul class="social-icon">
                                <li><a href="#" class="fa fa-facebook wow fadeInUp" data-wow-delay="1s"></a></li>
                                <li><a href="#" class="fa fa-twitter wow fadeInUp" data-wow-delay="1.3s"></a></li>
                                <li><a href="#" class="fa fa-behance wow fadeInUp" data-wow-delay="1.9s"></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <p>Lorem ipsum dolor sit amet, maecenas eget vestibulum justo imperdiet, wisi risus purus augue vulputate.</p>
            </div>
            <div class="wow fadeInUp col-md-4 col-sm-6" data-wow-delay="2s">
                <div class="trainer-thumb">
                    <img src="~/images/main/trainer-img2.jpg" class="img-responsive" alt="Trainer">
                    <div class="trainer-overlay">
                        <div class="trainer-des">
                            <h2>Marry</h2>
                            <h3>Fitness Trainer</h3>
                            <ul class="social-icon">
                                <li><a href="#" class="fa fa-facebook wow fadeInUp" data-wow-delay="1s"></a></li>
                                <li><a href="#" class="fa fa-twitter wow fadeInUp" data-wow-delay="1.3s"></a></li>
                                <li><a href="#" class="fa fa-behance wow fadeInUp" data-wow-delay="1.9s"></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <p>Lorem ipsum dolor sit amet, maecenas eget vestibulum justo imperdiet, wisi risus purus augue vulputate.</p>
            </div>
            <div class="wow fadeInUp col-md-4 col-sm-6" data-wow-delay="2.3s">
                <div class="trainer-thumb">
                    <img src="~/images/main/trainer-img3.jpg" class="img-responsive" alt="Trainer">
                    <div class="trainer-overlay">
                        <div class="trainer-des">
                            <h2>Olivia</h2>
                            <h3>Yoga Teacher</h3>
                            <ul class="social-icon">
                                <li><a href="#" class="fa fa-facebook wow fadeInUp" data-wow-delay="1s"></a></li>
                                <li><a href="#" class="fa fa-twitter wow fadeInUp" data-wow-delay="1.3s"></a></li>
                                <li><a href="#" class="fa fa-behance wow fadeInUp" data-wow-delay="1.9s"></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <p>Lorem ipsum dolor sit amet, maecenas eget vestibulum justo imperdiet, wisi risus purus augue vulputate.</p>
            </div>
        </div>
    </div>
</section>