<div class="page-wrapper">
	<div class="page-content-wrapper">
		<div class="page-content">
			<div class="page-breadcrumb d-none d-md-flex align-items-center mb-3">
				<div class="breadcrumb-title pr-3">Components</div>
				<div class="pl-3">
					<nav aria-label="breadcrumb">
						<ol class="breadcrumb mb-0 p-0">
							<li class="breadcrumb-item"><a href="javascript:;"><i class='bx bx-home-alt'></i></a>
							</li>
							<li class="breadcrumb-item active" aria-current="page">Alerts</li>
						</ol>
					</nav>
				</div>
				<div class="ml-auto">
					<div class="btn-group">
						<button type="button" class="btn btn-light">Settings</button>
						<button type="button" class="btn btn-light dropdown-toggle dropdown-toggle-split" data-toggle="dropdown">	<span class="sr-only">Toggle Dropdown</span>
						</button>
						<div class="dropdown-menu dropdown-menu-right dropdown-menu-lg-left">	<a class="dropdown-item" href="javascript:;">Action</a>
							<a class="dropdown-item" href="javascript:;">Another action</a>
							<a class="dropdown-item" href="javascript:;">Something else here</a>
							<div class="dropdown-divider"></div>	<a class="dropdown-item" href="javascript:;">Separated link</a>
						</div>
					</div>
				</div>
			</div>
			<div class="card radius-15">
				<div class="card-body">
					<div class="card-title">
						<h4 class="mb-0">Transparent examples</h4>
					</div>
					<hr/>
					<div class="alert text-white alert-dismissible fade show" role="alert">A simple alert—check it out!
						<button type="button" class="close" data-dismiss="alert" aria-label="Close">	<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="alert text-white  alert-dismissible fade show" role="alert">A simple alert—check it out!
						<button type="button" class="close" data-dismiss="alert" aria-label="Close">	<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="alert text-white alert-dismissible fade show" role="alert">A simple alert—check it out!
						<button type="button" class="close" data-dismiss="alert" aria-label="Close">	<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="alert text-white alert-dismissible fade show" role="alert">A simple alert—check it out!
						<button type="button" class="close" data-dismiss="alert" aria-label="Close">	<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="alert text-white alert-dismissible fade show" role="alert">A simple alert—check it out!
						<button type="button" class="close" data-dismiss="alert" aria-label="Close">	<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="alert text-white alert-dismissible fade show" role="alert">A simple alert—check it out!
						<button type="button" class="close" data-dismiss="alert" aria-label="Close">	<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="alert text-white alert-dismissible fade show" role="alert">A simple alert—check it out!
						<button type="button" class="close" data-dismiss="alert" aria-label="Close">	<span aria-hidden="true">&times;</span>
						</button>
					</div>
				</div>
			</div>
			<div class="card radius-15">
				<div class="card-body">
					<div class="card-title">
						<h4 class="mb-0">Color examples</h4>
					</div>
					<hr/>
					<div class="alert bg-primary text-white alert-dismissible fade show" role="alert">A simple primary alert—check it out!
						<button type="button" class="close" data-dismiss="alert" aria-label="Close">	<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="alert bg-secondary text-white  alert-dismissible fade show" role="alert">A simple secondary alert—check it out!
						<button type="button" class="close" data-dismiss="alert" aria-label="Close">	<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="alert bg-success text-white alert-dismissible fade show" role="alert">A simple success alert—check it out!
						<button type="button" class="close" data-dismiss="alert" aria-label="Close">	<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="alert bg-danger text-white alert-dismissible fade show" role="alert">A simple danger alert—check it out!
						<button type="button" class="close" data-dismiss="alert" aria-label="Close">	<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="alert bg-warning text-white alert-dismissible fade show" role="alert">A simple warning alert—check it out!
						<button type="button" class="close" data-dismiss="alert" aria-label="Close">	<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="alert bg-info text-white alert-dismissible fade show" role="alert">A simple info alert—check it out!
						<button type="button" class="close" data-dismiss="alert" aria-label="Close">	<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="alert bg-dark text-white alert-dismissible fade show" role="alert">A simple dark alert—check it out!
						<button type="button" class="close" data-dismiss="alert" aria-label="Close">	<span aria-hidden="true">&times;</span>
						</button>
					</div>
				</div>
			</div>
			<div class="card radius-15">
				<div class="card-body">
					<div class="card-title">
						<h4 class="mb-0">Basic examples</h4>
					</div>
					<hr/>
					<div class="alert alert-primary alert-dismissible fade show" role="alert">A simple primary alert—check it out!
						<button type="button" class="close" data-dismiss="alert" aria-label="Close">	<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="alert alert-secondary alert-dismissible fade show" role="alert">A simple secondary alert—check it out!
						<button type="button" class="close" data-dismiss="alert" aria-label="Close">	<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="alert alert-success alert-dismissible fade show" role="alert">A simple success alert—check it out!
						<button type="button" class="close" data-dismiss="alert" aria-label="Close">	<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="alert alert-danger alert-dismissible fade show" role="alert">A simple danger alert—check it out!
						<button type="button" class="close" data-dismiss="alert" aria-label="Close">	<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="alert alert-warning alert-dismissible fade show" role="alert">A simple warning alert—check it out!
						<button type="button" class="close" data-dismiss="alert" aria-label="Close">	<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="alert alert-info alert-dismissible fade show" role="alert">A simple info alert—check it out!
						<button type="button" class="close" data-dismiss="alert" aria-label="Close">	<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="alert alert-light alert-dismissible fade show" role="alert">A simple light alert—check it out!
						<button type="button" class="close" data-dismiss="alert" aria-label="Close">	<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="alert alert-dark alert-dismissible fade show" role="alert">A simple dark alert—check it out!
						<button type="button" class="close" data-dismiss="alert" aria-label="Close">	<span aria-hidden="true">&times;</span>
						</button>
					</div>
				</div>
			</div>
			<div class="card radius-15">
				<div class="card-body">
					<div class="card-title">
						<h4 class="mb-0">Alert with links</h4>
					</div>
					<hr/>
					<div class="alert alert-primary alert-dismissible fade show" role="alert">A simple primary alert with <a href="#" class="alert-link">an example link</a>. Give it a click if you like.
						<button type="button" class="close" data-dismiss="alert" aria-label="Close">	<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="alert alert-secondary alert-dismissible fade show" role="alert">A simple secondary alert with <a href="#" class="alert-link">an example link</a>. Give it a click if you like.
						<button type="button" class="close" data-dismiss="alert" aria-label="Close">	<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="alert alert-success alert-dismissible fade show" role="alert">A simple success alert with <a href="#" class="alert-link">an example link</a>. Give it a click if you like.
						<button type="button" class="close" data-dismiss="alert" aria-label="Close">	<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="alert alert-danger alert-dismissible fade show" role="alert">A simple danger alert with <a href="#" class="alert-link">an example link</a>. Give it a click if you like.
						<button type="button" class="close" data-dismiss="alert" aria-label="Close">	<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="alert alert-warning alert-dismissible fade show" role="alert">A simple warning alert with <a href="#" class="alert-link">an example link</a>. Give it a click if you like.
						<button type="button" class="close" data-dismiss="alert" aria-label="Close">	<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="alert alert-info alert-dismissible fade show" role="alert">A simple info alert with <a href="#" class="alert-link">an example link</a>. Give it a click if you like.
						<button type="button" class="close" data-dismiss="alert" aria-label="Close">	<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="alert alert-light alert-dismissible fade show" role="alert">A simple light alert with <a href="#" class="alert-link">an example link</a>. Give it a click if you like.
						<button type="button" class="close" data-dismiss="alert" aria-label="Close">	<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="alert alert-dark alert-dismissible fade show" role="alert">A simple dark alert with <a href="#" class="alert-link">an example link</a>. Give it a click if you like.
						<button type="button" class="close" data-dismiss="alert" aria-label="Close">	<span aria-hidden="true">&times;</span>
						</button>
					</div>
				</div>
			</div>
			<div class="card radius-15">
				<div class="card-body">
					<div class="card-title">
						<h4 class="mb-0">Additional content</h4>
					</div>
					<hr/>
					<div class="alert alert-primary" role="alert">
						<h4 class="alert-heading">Well done!</h4>
						<p>Aww yeah, you successfully read this important alert message. This example text is going to run a bit longer so that you can see how spacing within an alert works with this kind of content.</p>
						<hr>
						<p class="mb-0">Whenever you need to, be sure to use margin utilities to keep things nice and tidy.</p>
					</div>
					<div class="alert alert-success" role="alert">
						<h4 class="alert-heading">Well done!</h4>
						<p>Aww yeah, you successfully read this important alert message. This example text is going to run a bit longer so that you can see how spacing within an alert works with this kind of content.</p>
						<hr>
						<p class="mb-0">Whenever you need to, be sure to use margin utilities to keep things nice and tidy.</p>
					</div>
					<div class="alert alert-info" role="alert">
						<h4 class="alert-heading">Well done!</h4>
						<p>Aww yeah, you successfully read this important alert message. This example text is going to run a bit longer so that you can see how spacing within an alert works with this kind of content.</p>
						<hr>
						<p class="mb-0">Whenever you need to, be sure to use margin utilities to keep things nice and tidy.</p>
					</div>
					<div class="alert alert-danger" role="alert">
						<h4 class="alert-heading">Well done!</h4>
						<p>Aww yeah, you successfully read this important alert message. This example text is going to run a bit longer so that you can see how spacing within an alert works with this kind of content.</p>
						<hr>
						<p class="mb-0">Whenever you need to, be sure to use margin utilities to keep things nice and tidy.</p>
					</div>
					<div class="alert alert-dark" role="alert">
						<h4 class="alert-heading">Well done!</h4>
						<p>Aww yeah, you successfully read this important alert message. This example text is going to run a bit longer so that you can see how spacing within an alert works with this kind of content.</p>
						<hr>
						<p class="mb-0">Whenever you need to, be sure to use margin utilities to keep things nice and tidy.</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>