<div class="page-wrapper">
	<div class="page-content-wrapper">
		<div class="page-content">
			<div class="page-breadcrumb d-none d-md-flex align-items-center mb-3">
				<div class="breadcrumb-title pr-3">Components</div>
				<div class="pl-3">
					<nav aria-label="breadcrumb">
						<ol class="breadcrumb mb-0 p-0">
							<li class="breadcrumb-item"><a href="javascript:;"><i class='bx bx-home-alt'></i></a>
							</li>
							<li class="breadcrumb-item active" aria-current="page">Avtars</li>
						</ol>
					</nav>
				</div>
				<div class="ml-auto">
					<div class="btn-group">
						<button type="button" class="btn btn-light">Settings</button>
						<button type="button" class="btn btn-light dropdown-toggle dropdown-toggle-split" data-toggle="dropdown">	<span class="sr-only">Toggle Dropdown</span>
						</button>
						<div class="dropdown-menu dropdown-menu-right dropdown-menu-lg-left">	<a class="dropdown-item" href="javascript:;">Action</a>
							<a class="dropdown-item" href="javascript:;">Another action</a>
							<a class="dropdown-item" href="javascript:;">Something else here</a>
							<div class="dropdown-divider"></div>	<a class="dropdown-item" href="javascript:;">Separated link</a>
						</div>
					</div>
				</div>
			</div>
			<div class="card radius-15">
				<div class="card-body">
					<div class="card-title">
						<h4 class="mb-0">Chips</h4>
					</div>
					<hr>
					<div class="chip">
						<img src="https://via.placeholder.com/110x110" alt="Contact Person">John Doe</div>
					<div class="chip">
						<img src="https://via.placeholder.com/110x110" alt="Contact Person">Jessica Doe</div>
					<div class="chip">
						<img src="https://via.placeholder.com/110x110" alt="Contact Person">Michele Powa</div>
					<div class="chip">
						<img src="https://via.placeholder.com/110x110" alt="Contact Person">Clark Natela</div>
					<div class="chip">
						<img src="https://via.placeholder.com/110x110" alt="Contact Person">Anantu Painda <span class="closebtn" onclick="this.parentElement.style.display='none'">&times;</span>
					</div>
					<div class="chip">
						<img src="https://via.placeholder.com/110x110" alt="Contact Person">Tiger Xink <span class="closebtn" onclick="this.parentElement.style.display='none'">&times;</span>
					</div>
					<div class="chip">
						<img src="https://via.placeholder.com/110x110" alt="Contact Person">Salena Chain <span class="closebtn" onclick="this.parentElement.style.display='none'">&times;</span>
					</div>
					<hr>
					<div class="chip">John Doe <span class="closebtn" onclick="this.parentElement.style.display='none'">&times;</span>
					</div>
					<div class="chip">Jessica Doe <span class="closebtn" onclick="this.parentElement.style.display='none'">&times;</span>
					</div>
					<div class="chip">Michele Powa <span class="closebtn" onclick="this.parentElement.style.display='none'">&times;</span>
					</div>
					<div class="chip">Clark Natela <span class="closebtn" onclick="this.parentElement.style.display='none'">&times;</span>
					</div>
					<div class="chip">Anantu Painda <span class="closebtn" onclick="this.parentElement.style.display='none'">&times;</span>
					</div>
					<div class="chip">Tiger Xink <span class="closebtn" onclick="this.parentElement.style.display='none'">&times;</span>
					</div>
					<div class="chip">Salena Chain <span class="closebtn" onclick="this.parentElement.style.display='none'">&times;</span>
					</div>
				</div>
			</div>
			<div class="card radius-15">
				<div class="card-body">
					<div class="card-title">
						<h4 class="mb-0">Sizing and Colors</h4>
					</div>
					<hr>
					<div class="chip chip-md">
						<img src="https://via.placeholder.com/110x110" alt="Contact Person">John Doe</div>
					<div class="chip chip-md">
						<img src="https://via.placeholder.com/110x110" alt="Contact Person">Jessica Doe</div>
					<div class="chip chip-md bg-dark text-white">
						<img src="https://via.placeholder.com/110x110" alt="Contact Person">Michele Powa <span class="closebtn" onclick="this.parentElement.style.display='none'">&times;</span>
					</div>
					<div class="chip chip-md bg-danger text-white">
						<img src="https://via.placeholder.com/110x110" alt="Contact Person">Clark Natela <span class="closebtn" onclick="this.parentElement.style.display='none'">&times;</span>
					</div>
					<hr>
					<div class="chip chip-lg">
						<img src="https://via.placeholder.com/110x110" alt="Contact Person">Anantu Painda <span class="closebtn" onclick="this.parentElement.style.display='none'">&times;</span>
					</div>
					<div class="chip chip-lg bg-primary text-white">
						<img src="https://via.placeholder.com/110x110" alt="Contact Person">Tiger Xink <span class="closebtn" onclick="this.parentElement.style.display='none'">&times;</span>
					</div>
					<div class="chip chip-lg bg-warning text-white">
						<img src="https://via.placeholder.com/110x110" alt="Contact Person">Salena Chain <span class="closebtn" onclick="this.parentElement.style.display='none'">&times;</span>
					</div>
					<hr>
					<div class="chip chip-md">John Doe <span class="closebtn" onclick="this.parentElement.style.display='none'">&times;</span>
					</div>
					<div class="chip chip-md">Jessica Doe <span class="closebtn" onclick="this.parentElement.style.display='none'">&times;</span>
					</div>
					<div class="chip chip-md bg-info text-white">Michele Powa <span class="closebtn" onclick="this.parentElement.style.display='none'">&times;</span>
					</div>
					<div class="chip chip-md bg-success text-white">Clark Natela <span class="closebtn" onclick="this.parentElement.style.display='none'">&times;</span>
					</div>
					<hr>
					<div class="chip chip-lg">Anantu Painda <span class="closebtn" onclick="this.parentElement.style.display='none'">&times;</span>
					</div>
					<div class="chip chip-lg bg-secondary text-white">Tiger Xink <span class="closebtn" onclick="this.parentElement.style.display='none'">&times;</span>
					</div>
					<div class="chip chip-lg bg-dark text-white">Salena Chain <span class="closebtn" onclick="this.parentElement.style.display='none'">&times;</span>
					</div>
				</div>
			</div>
			<div class="card radius-15">
				<div class="card-body">
					<div class="card-title">
						<h4 class="mb-0">Avatrs & Chips</h4>
					</div>
					<hr>
					<a href="javascript:;">
						<img src="https://via.placeholder.com/110x110" width="50" height="50" class="rounded shadow" alt="" />
					</a>
					<a href="javascript:;">
						<img src="https://via.placeholder.com/110x110" width="80" height="80" class="rounded ml-3 shadow" alt="" />
					</a>
					<a href="javascript:;">
						<img src="https://via.placeholder.com/110x110" width="110" height="110" class="rounded ml-3 shadow" alt="" />
					</a>
					<hr>
					<a href="javascript:;">
						<img src="https://via.placeholder.com/110x110" width="60" height="60" class="rounded shadow p-1" alt="" />
					</a>
					<a href="javascript:;">
						<img src="https://via.placeholder.com/110x110" width="80" height="80" class="rounded ml-3 shadow p-1" alt="" />
					</a>
					<a href="javascript:;">
						<img src="https://via.placeholder.com/110x110" width="100" height="100" class="rounded ml-3 shadow p-1" alt="" />
					</a>
					<hr>
					<a href="javascript:;">
						<img src="https://via.placeholder.com/110x110" width="60" height="60" class="rounded-circle shadow" alt="" />
					</a>
					<a href="javascript:;">
						<img src="https://via.placeholder.com/110x110" width="80" height="80" class="rounded-circle ml-3 shadow" alt="" />
					</a>
					<a href="javascript:;">
						<img src="https://via.placeholder.com/110x110" width="100" height="100" class="rounded-circle ml-3 shadow" alt="" />
					</a>
					<hr>
					<a href="javascript:;">
						<img src="https://via.placeholder.com/110x110" width="60" height="60" class="rounded-circle shadow p-1" alt="" />
					</a>
					<a href="javascript:;">
						<img src="https://via.placeholder.com/110x110" width="80" height="80" class="rounded-circle ml-3 shadow p-1" alt="" />
					</a>
					<a href="javascript:;">
						<img src="https://via.placeholder.com/110x110" width="100" height="100" class="rounded-circle ml-3 shadow p-1" alt="" />
					</a>
				</div>
			</div>
		</div>
	</div>
</div>