<div class="page-wrapper">
	<div class="page-content-wrapper">
		<div class="page-content">
			<div class="page-breadcrumb d-none d-md-flex align-items-center mb-3">
				<div class="breadcrumb-title pr-3">Components</div>
				<div class="pl-3">
					<nav aria-label="breadcrumb">
						<ol class="breadcrumb mb-0 p-0">
							<li class="breadcrumb-item"><a href="javascript:;"><i class='bx bx-home-alt'></i></a>
							</li>
							<li class="breadcrumb-item active" aria-current="page">Buttons</li>
						</ol>
					</nav>
				</div>
				<div class="ml-auto">
					<div class="btn-group">
						<button type="button" class="btn btn-light">Settings</button>
						<button type="button" class="btn btn-light dropdown-toggle dropdown-toggle-split" data-toggle="dropdown">	<span class="sr-only">Toggle Dropdown</span>
						</button>
						<div class="dropdown-menu dropdown-menu-right dropdown-menu-lg-left">	<a class="dropdown-item" href="javascript:;">Action</a>
							<a class="dropdown-item" href="javascript:;">Another action</a>
							<a class="dropdown-item" href="javascript:;">Something else here</a>
							<div class="dropdown-divider"></div>	<a class="dropdown-item" href="javascript:;">Separated link</a>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-12 col-lg-12 col-xl-12">
					<div class="card radius-15">
						<div class="card-body">
							<div class="card-title">
								<h4 class="mb-0">Transparent Examples</h4>
							</div>
							<hr/>
							<button type="button" class="btn btn-light m-1 px-5">Transparent</button>
							<button type="button" class="btn btn-light m-1 px-5">Button</button>
							<button type="button" class="btn btn-light m-1 px-5">Action</button>
							<button type="button" class="btn btn-light m-1 px-5">Enter</button>
							<button type="button" class="btn btn-light m-1 px-5">Group</button>
							<button type="button" class="btn btn-light m-1 px-5">Like</button>
							<button type="button" class="btn btn-light m-1 px-5">Unlike</button>
							<button type="button" class="btn btn-light m-1 px-5">Heart</button>
							<hr>
							<button type="button" class="btn btn-light m-1 px-5 radius-30">Transparent</button>
							<button type="button" class="btn btn-light m-1 px-5 radius-30">Button</button>
							<button type="button" class="btn btn-light m-1 px-5 radius-30">Action</button>
							<button type="button" class="btn btn-light m-1 px-5 radius-30">Enter</button>
							<button type="button" class="btn btn-light m-1 px-5 radius-30">Group</button>
							<button type="button" class="btn btn-light m-1 px-5 radius-30">Like</button>
							<button type="button" class="btn btn-light m-1 px-5 radius-30">Unlike</button>
							<button type="button" class="btn btn-light m-1 px-5 radius-30">Heart</button>
						</div>
					</div>
				</div>
			</div>
			
			<div class="card radius-15">
				<div class="card-body">
					<div class="card-title">
						<h4 class="mb-0">Button With Icons</h4>
					</div>
					<hr/>
					<button type="button" class="btn btn-light m-1 px-5"><i class='bx bx-user mr-1'></i>Person</button>
					<button type="button" class="btn btn-light m-1 px-5"><i class='bx bx-comment mr-1'></i>Comments</button>
					<button type="button" class="btn btn-light m-1 px-5"><i class='bx bx-home mr-1'></i>Home</button>
					<button type="button" class="btn btn-light m-1 px-5"><i class='bx bx-bookmark mr-1'></i>Bookmark</button>
					<button type="button" class="btn btn-light m-1 px-5"><i class='bx bx-heart-circle mr-1'></i>Love</button>
					<button type="button" class="btn btn-light m-1 px-5"><i class='bx bx-cloud-download mr-1'></i>Downloads</button>
					<button type="button" class="btn btn-light m-1 px-5"><i class='bx bx-cloud-upload mr-1'></i>Upload</button>
					
					<hr/>
					<button type="button" class="btn btn-light m-1 radius-30 px-5"><i class='bx bx-user mr-1'></i>Person</button>
					<button type="button" class="btn btn-light m-1 radius-30 px-5"><i class='bx bx-comment-detail mr-1'></i>Comments</button>
					<button type="button" class="btn btn-light m-1 radius-30 px-5"><i class='bx bx-home-alt mr-1'></i>Home</button>
					<button type="button" class="btn btn-light m-1 radius-30 px-5"><i class='bx bx-blanket mr-1'></i>blanket</button>
					<button type="button" class="btn btn-light m-1 radius-30 px-5"><i class='bx bx-heart mr-1'></i>Love</button>
					<button type="button" class="btn btn-light m-1 radius-30 px-5"><i class='bx bx-refresh mr-1'></i>Refresh</button>
					<button type="button" class="btn btn-light m-1 radius-30 px-5"><i class='bx bx-like mr-1'></i>Like</button>
					<hr/>
					<button type="button" class="btn btn-light m-1"><i class='bx bx-user'></i>
					</button>
					<button type="button" class="btn btn-light m-1"><i class='bx bx-comment-detail'></i>
					</button>
					<button type="button" class="btn btn-light m-1"><i class='bx bx-home-alt'></i>
					</button>
					<button type="button" class="btn btn-light m-1"><i class='bx bx-blanket'></i>
					</button>
					<button type="button" class="btn btn-light m-1"><i class='bx bx-heart'></i>
					</button>
					<button type="button" class="btn btn-light m-1"><i class='bx bx-refresh'></i>
					</button>
					<button type="button" class="btn btn-light m-1"><i class='bx bx-like'></i>
					</button>
				</div>
			</div>
			<div class="row">
				<div class="col-12 col-lg-6 col-xl-6">
					<div class="card radius-15">
						<div class="card-body">
							<div class="card-title">
								<h4 class="mb-0">Size Buttons</h4>
							</div>
							<hr/>
							<button type="button" class="btn btn-light m-1 btn-lg px-5">Large Size Button</button>
							<button type="button" class="btn btn-light m-1 px-5">Default Size Button</button>
							<button type="button" class="btn btn-light btn-sm m-1 px-5">Small Size Button</button>
						</div>
					</div>
				</div>
				<div class="col-12 col-lg-6 col-xl-6">
					<div class="card radius-15">
						<div class="card-body">
							<div class="card-title">
								<h4 class="mb-0">Block Buttons</h4>
							</div>
							<hr/>
							<button type="button" class="btn btn-light m-1 btn-lg btn-block px-5">Large Size Button</button>
							<button type="button" class="btn btn-light m-1 btn-block px-5">Default Size Button</button>
							<button type="button" class="btn btn-light btn-sm btn-block m-1 px-5">Small Size Button</button>
						</div>
					</div>
				</div>
			</div>
			<div class="card radius-15">
				<div class="card-body">
					<div class="card-title">
						<h4 class="mb-0">Group Buttons</h4>
					</div>
					<hr/>
					<div class="btn-group m-1" role="group" aria-label="Basic example">
						<button type="button" class="btn btn-light">Left</button>
						<button type="button" class="btn btn-light">Middle</button>
						<button type="button" class="btn btn-light">Right</button>
					</div>
					<div class="btn-group m-1" role="group" aria-label="Basic example">
						<button type="button" class="btn btn-light">Left</button>
						<button type="button" class="btn btn-light">Middle</button>
						<button type="button" class="btn btn-light">Right</button>
					</div>
					<div class="btn-group m-1" role="group" aria-label="Basic example">
						<button type="button" class="btn btn-light">Left</button>
						<button type="button" class="btn btn-light">Middle</button>
						<button type="button" class="btn btn-light">Right</button>
					</div>
					<div class="btn-group m-1" role="group" aria-label="Basic example">
						<button type="button" class="btn btn-light">Left</button>
						<button type="button" class="btn btn-light">Middle</button>
						<button type="button" class="btn btn-light">Right</button>
					</div>
					<hr/>
					<div class="btn-group m-1" role="group" aria-label="Basic example">
						<button type="button" class="btn btn-outline-light">Left</button>
						<button type="button" class="btn btn-outline-light">Middle</button>
						<button type="button" class="btn btn-outline-light">Right</button>
					</div>
					<div class="btn-group m-1" role="group" aria-label="Basic example">
						<button type="button" class="btn btn-outline-light">Left</button>
						<button type="button" class="btn btn-outline-light">Middle</button>
						<button type="button" class="btn btn-outline-light">Right</button>
					</div>
					<div class="btn-group m-1" role="group" aria-label="Basic example">
						<button type="button" class="btn btn-outline-light">Left</button>
						<button type="button" class="btn btn-outline-light">Middle</button>
						<button type="button" class="btn btn-outline-light">Right</button>
					</div>
					<div class="btn-group m-1" role="group" aria-label="Basic example">
						<button type="button" class="btn btn-outline-light">Left</button>
						<button type="button" class="btn btn-outline-light">Middle</button>
						<button type="button" class="btn btn-outline-light">Right</button>
					</div>
					<hr>
					<div class="btn-group m-1" role="group" aria-label="Basic example">
						<button type="button" class="btn btn-light"><i class="bx bx-like"></i>
						</button>
						<button type="button" class="btn btn-light"><i class="bx bx-share"></i>
						</button>
						<button type="button" class="btn btn-light"><i class="bx bx-comment-detail"></i>
						</button>
					</div>
					<div class="btn-group m-1" role="group" aria-label="Basic example">
						<button type="button" class="btn btn-light"><i class="bx bxs-music"></i>
						</button>
						<button type="button" class="btn btn-light"><i class="bx bxs-heart"></i>
						</button>
						<button type="button" class="btn btn-light"><i class="bx bxs-florist"></i>
						</button>
					</div>
					<div class="btn-group m-1" role="group" aria-label="Basic example">
						<button type="button" class="btn btn-light"><i class="bx bx-left-arrow"></i>
						</button>
						<button type="button" class="btn btn-light"><i class="bx bx-up-arrow"></i>
						</button>
						<button type="button" class="btn btn-light"><i class="bx bx-right-arrow"></i>
						</button>
					</div>
					<div class="btn-group m-1" role="group" aria-label="Basic example">
						<button type="button" class="btn btn-light"><i class="bx bxl-facebook-square"></i>
						</button>
						<button type="button" class="btn btn-light"><i class="bx bxl-twitter"></i>
						</button>
						<button type="button" class="btn btn-light"><i class="bx bxl-linkedin-square"></i>
						</button>
					</div>
					<hr>
					<div class="btn-group m-1" role="group" aria-label="Basic example">
						<button type="button" class="btn btn-outline-light"><i class="bx bx-like"></i>
						</button>
						<button type="button" class="btn btn-outline-light"><i class="bx bx-share"></i>
						</button>
						<button type="button" class="btn btn-outline-light"><i class="bx bx-comment-detail"></i>
						</button>
					</div>
					<div class="btn-group m-1" role="group" aria-label="Basic example">
						<button type="button" class="btn btn-outline-light"><i class="bx bxs-music"></i>
						</button>
						<button type="button" class="btn btn-outline-light"><i class="bx bxs-heart"></i>
						</button>
						<button type="button" class="btn btn-outline-light"><i class="bx bxs-florist"></i>
						</button>
					</div>
					<div class="btn-group m-1" role="group" aria-label="Basic example">
						<button type="button" class="btn btn-outline-light"><i class="bx bx-left-arrow"></i>
						</button>
						<button type="button" class="btn btn-outline-light"><i class="bx bx-up-arrow"></i>
						</button>
						<button type="button" class="btn btn-outline-light"><i class="bx bx-right-arrow"></i>
						</button>
					</div>
					<div class="btn-group m-1" role="group" aria-label="Basic example">
						<button type="button" class="btn btn-outline-light"><i class="bx bxl-facebook-square"></i>
						</button>
						<button type="button" class="btn btn-outline-light"><i class="bx bxl-twitter"></i>
						</button>
						<button type="button" class="btn btn-outline-light"><i class="bx bxl-linkedin-square"></i>
						</button>
					</div>
				</div>
			</div>
			<div class="card radius-15">
				<div class="card-body">
					<div class="card-title">
						<h4 class="mb-0">Dropdown Buttons</h4>
					</div>
					<hr/>
					<div class="btn-group m-1" role="group" aria-label="Button group with nested dropdown">
						<button type="button" class="btn btn-light">1</button>
						<button type="button" class="btn btn-light">2</button>
						<div class="btn-group" role="group">
							<button type="button" class="btn btn-light dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Dropdown</button>
							<div class="dropdown-menu">	<a class="dropdown-item" href="#">Dropdown link</a>
								<a class="dropdown-item" href="#">Dropdown link</a>
							</div>
						</div>
					</div>
					<div class="btn-group m-1" role="group" aria-label="Button group with nested dropdown">
						<button type="button" class="btn btn-light">1</button>
						<button type="button" class="btn btn-light">2</button>
						<div class="btn-group" role="group">
							<button type="button" class="btn btn-light dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Dropdown</button>
							<div class="dropdown-menu">	<a class="dropdown-item" href="#">Dropdown link</a>
								<a class="dropdown-item" href="#">Dropdown link</a>
							</div>
						</div>
					</div>
					<div class="btn-group m-1" role="group" aria-label="Button group with nested dropdown">
						<button type="button" class="btn btn-outline-light">1</button>
						<button type="button" class="btn btn-outline-light">2</button>
						<div class="btn-group" role="group">
							<button type="button" class="btn btn-outline-light dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Dropdown</button>
							<div class="dropdown-menu">	<a class="dropdown-item" href="#">Dropdown link</a>
								<a class="dropdown-item" href="#">Dropdown link</a>
							</div>
						</div>
					</div>
					<div class="btn-group m-1" role="group" aria-label="Button group with nested dropdown">
						<button type="button" class="btn btn-outline-light">1</button>
						<button type="button" class="btn btn-outline-light">2</button>
						<div class="btn-group" role="group">
							<button type="button" class="btn btn-outline-light dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Dropdown</button>
							<div class="dropdown-menu">	<a class="dropdown-item" href="#">Dropdown link</a>
								<a class="dropdown-item" href="#">Dropdown link</a>
							</div>
						</div>
					</div>
				</div>
				<div class="card-body">
					<div class="btn-group">
						<button type="button" class="btn btn-light dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Primary</button>
						<div class="dropdown-menu">	<a class="dropdown-item" href="#">Action</a>
							<a class="dropdown-item" href="#">Another action</a>
							<a class="dropdown-item" href="#">Something else here</a>
							<div class="dropdown-divider"></div>	<a class="dropdown-item" href="#">Separated link</a>
						</div>
					</div>
					<div class="btn-group">
						<button type="button" class="btn btn-light dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Success</button>
						<div class="dropdown-menu">	<a class="dropdown-item" href="#">Action</a>
							<a class="dropdown-item" href="#">Another action</a>
							<a class="dropdown-item" href="#">Something else here</a>
							<div class="dropdown-divider"></div>	<a class="dropdown-item" href="#">Separated link</a>
						</div>
					</div>
					<div class="btn-group">
						<button type="button" class="btn btn-light dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Info</button>
						<div class="dropdown-menu">	<a class="dropdown-item" href="#">Action</a>
							<a class="dropdown-item" href="#">Another action</a>
							<a class="dropdown-item" href="#">Something else here</a>
							<div class="dropdown-divider"></div>	<a class="dropdown-item" href="#">Separated link</a>
						</div>
					</div>
					<div class="btn-group">
						<button type="button" class="btn btn-light dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Danger</button>
						<div class="dropdown-menu">	<a class="dropdown-item" href="#">Action</a>
							<a class="dropdown-item" href="#">Another action</a>
							<a class="dropdown-item" href="#">Something else here</a>
							<div class="dropdown-divider"></div>	<a class="dropdown-item" href="#">Separated link</a>
						</div>
					</div>
					<div class="btn-group">
						<button type="button" class="btn btn-light dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Warning</button>
						<div class="dropdown-menu">	<a class="dropdown-item" href="#">Action</a>
							<a class="dropdown-item" href="#">Another action</a>
							<a class="dropdown-item" href="#">Something else here</a>
							<div class="dropdown-divider"></div>	<a class="dropdown-item" href="#">Separated link</a>
						</div>
					</div>
				</div>
				<div class="card-body">
					<div class="card-title">
						<h4 class="mb-0">Split Button</h4>
					</div>
					<hr/>
					<div class="btn-group">
						<button type="button" class="btn btn-light">Primary</button>
						<button type="button" class="btn btn-light dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">	<span class="sr-only">Toggle Dropdown</span>
						</button>
						<div class="dropdown-menu">	<a class="dropdown-item" href="#">Action</a>
							<a class="dropdown-item" href="#">Another action</a>
							<a class="dropdown-item" href="#">Something else here</a>
							<div class="dropdown-divider"></div>	<a class="dropdown-item" href="#">Separated link</a>
						</div>
					</div>
					<div class="btn-group">
						<button type="button" class="btn btn-light">Secondary</button>
						<button type="button" class="btn btn-light dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">	<span class="sr-only">Toggle Dropdown</span>
						</button>
						<div class="dropdown-menu">	<a class="dropdown-item" href="#">Action</a>
							<a class="dropdown-item" href="#">Another action</a>
							<a class="dropdown-item" href="#">Something else here</a>
							<div class="dropdown-divider"></div>	<a class="dropdown-item" href="#">Separated link</a>
						</div>
					</div>
					<div class="btn-group">
						<button type="button" class="btn btn-light">Success</button>
						<button type="button" class="btn btn-light dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">	<span class="sr-only">Toggle Dropdown</span>
						</button>
						<div class="dropdown-menu">	<a class="dropdown-item" href="#">Action</a>
							<a class="dropdown-item" href="#">Another action</a>
							<a class="dropdown-item" href="#">Something else here</a>
							<div class="dropdown-divider"></div>	<a class="dropdown-item" href="#">Separated link</a>
						</div>
					</div>
					<div class="btn-group">
						<button type="button" class="btn btn-light">Info</button>
						<button type="button" class="btn btn-light dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">	<span class="sr-only">Toggle Dropdown</span>
						</button>
						<div class="dropdown-menu">	<a class="dropdown-item" href="#">Action</a>
							<a class="dropdown-item" href="#">Another action</a>
							<a class="dropdown-item" href="#">Something else here</a>
							<div class="dropdown-divider"></div>	<a class="dropdown-item" href="#">Separated link</a>
						</div>
					</div>
					<div class="btn-group">
						<button type="button" class="btn btn-light">Warning</button>
						<button type="button" class="btn btn-light dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">	<span class="sr-only">Toggle Dropdown</span>
						</button>
						<div class="dropdown-menu">	<a class="dropdown-item" href="#">Action</a>
							<a class="dropdown-item" href="#">Another action</a>
							<a class="dropdown-item" href="#">Something else here</a>
							<div class="dropdown-divider"></div>	<a class="dropdown-item" href="#">Separated link</a>
						</div>
					</div>
					<div class="btn-group">
						<button type="button" class="btn btn-light">Danger</button>
						<button type="button" class="btn btn-light dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">	<span class="sr-only">Toggle Dropdown</span>
						</button>
						<div class="dropdown-menu">	<a class="dropdown-item" href="#">Action</a>
							<a class="dropdown-item" href="#">Another action</a>
							<a class="dropdown-item" href="#">Something else here</a>
							<div class="dropdown-divider"></div>	<a class="dropdown-item" href="#">Separated link</a>
						</div>
					</div>
				</div>
			</div>
			<div class="card radius-15">
				<div class="card-body">
					<div class="card-title">
						<h4 class="mb-0">Vertical variation</h4>
					</div>
					<hr/>
					<div class="btn-group-vertical m-1" role="group" aria-label="Vertical button group">
						<button type="button" class="btn btn-light">Button</button>
						<button type="button" class="btn btn-light">Button</button>
						<button type="button" class="btn btn-light">Button</button>
						<button type="button" class="btn btn-light">Button</button>
						<button type="button" class="btn btn-light">Button</button>
						<button type="button" class="btn btn-light">Button</button>
					</div>
					<div class="btn-group-vertical m-1" role="group" aria-label="Vertical button group">
						<button type="button" class="btn btn-light">Button</button>
						<button type="button" class="btn btn-light">Button</button>
						<button type="button" class="btn btn-light">Button</button>
						<button type="button" class="btn btn-light">Button</button>
						<button type="button" class="btn btn-light">Button</button>
						<button type="button" class="btn btn-light">Button</button>
					</div>
					<div class="btn-group-vertical m-1" role="group" aria-label="Vertical button group">
						<button type="button" class="btn btn-light">Button</button>
						<button type="button" class="btn btn-light">Button</button>
						<button type="button" class="btn btn-light">Button</button>
						<button type="button" class="btn btn-light">Button</button>
						<button type="button" class="btn btn-light">Button</button>
						<button type="button" class="btn btn-light">Button</button>
					</div>
					<div class="btn-group-vertical m-1" role="group" aria-label="Vertical button group">
						<button type="button" class="btn btn-outline-light">Button</button>
						<button type="button" class="btn btn-outline-light">Button</button>
						<button type="button" class="btn btn-outline-light">Button</button>
						<button type="button" class="btn btn-outline-light">Button</button>
						<button type="button" class="btn btn-outline-light">Button</button>
						<button type="button" class="btn btn-outline-light">Button</button>
					</div>
					<div class="btn-group-vertical m-1" role="group" aria-label="Vertical button group">
						<button type="button" class="btn btn-outline-light">Button</button>
						<button type="button" class="btn btn-outline-light">Button</button>
						<button type="button" class="btn btn-outline-light">Button</button>
						<button type="button" class="btn btn-outline-light">Button</button>
						<button type="button" class="btn btn-outline-light">Button</button>
						<button type="button" class="btn btn-outline-light">Button</button>
					</div>
					<div class="btn-group-vertical m-1" role="group" aria-label="Vertical button group">
						<button type="button" class="btn btn-light"><i class='bx bxl-facebook-square'></i>
						</button>
						<button type="button" class="btn btn-light"><i class='bx bxl-twitter'></i>
						</button>
						<button type="button" class="btn btn-light"><i class='bx bxl-linkedin-square'></i>
						</button>
						<button type="button" class="btn btn-light"><i class='bx bxl-youtube'></i>
						</button>
						<button type="button" class="btn btn-light"><i class='bx bxl-wordpress'></i>
						</button>
						<button type="button" class="btn btn-light"><i class='bx bxl-pinterest'></i>
						</button>
					</div>
					<div class="btn-group-vertical m-1" role="group" aria-label="Vertical button group">
						<button type="button" class="btn btn-light"><i class='bx bx-home-smile'></i>
						</button>
						<button type="button" class="btn btn-light"><i class='bx bx-coin-stack'></i>
						</button>
						<button type="button" class="btn btn-light"><i class='bx bx-book-heart'></i>
						</button>
						<button type="button" class="btn btn-light"><i class='bx bx-video-recording'></i>
						</button>
						<button type="button" class="btn btn-light"><i class='bx bx-paper-plane'></i>
						</button>
						<button type="button" class="btn btn-light"><i class='bx bx-trash-alt'></i>
						</button>
					</div>
				</div>
			</div>
			<div class="card radius-15">
				<div class="card-body">
					<div class="card-title">
						<h4 class="mb-0">Social Buttons</h4>
					</div>
					<hr/>
					<button type="button" class="btn btn-light m-1"><i class='bx bxl-facebook-square mr-1'></i>Login with facebook</button>
					<button type="button" class="btn btn-light m-1"><i class='bx bxl-twitter mr-1'></i>Login with twitter</button>
					<button type="button" class="btn btn-light m-1"><i class='bx bxl-linkedin-square mr-1'></i>Login with linkedin</button>
					<button type="button" class="btn btn-light m-1"><i class='bx bxl-youtube mr-1'></i>View on youtube</button>
					<button type="button" class="btn btn-light m-1"><i class='bx bxl-github mr-1'></i>Connect with github</button>
					<button type="button" class="btn btn-light m-1"><i class='bx bxl-skype mr-1'></i>Connect with skype</button>
					<button type="button" class="btn btn-light m-1"><i class='bx bxl-pinterest mr-1'></i>Pin it 4.21</button>
					<button type="button" class="btn btn-light m-1"><i class='bx bxl-dribbble mr-1'></i>Find us on dribbble</button>
					<hr>
					<button type="button" class="btn btn-light m-1"><i class='bx bxl-facebook-square'></i>
					</button>
					<button type="button" class="btn btn-light m-1"><i class='bx bxl-twitter'></i>
					</button>
					<button type="button" class="btn btn-light m-1"><i class='bx bxl-linkedin-square'></i>
					</button>
					<button type="button" class="btn btn-light m-1"><i class='bx bxl-youtube'></i>
					</button>
					<button type="button" class="btn btn-light m-1"><i class='bx bxl-github'></i>
					</button>
					<button type="button" class="btn btn-light m-1"><i class='bx bxl-skype'></i>
					</button>
					<button type="button" class="btn btn-light m-1"><i class='bx bxl-pinterest'></i>
					</button>
					<button type="button" class="btn btn-light m-1"><i class='bx bxl-dribbble'></i>
					</button>
				</div>
			</div>
			
			<div class="row">
				<div class="col-12 col-lg-6 col-xl-6">
					<div class="card radius-15">
						<div class="card-body">
							<div class="card-title">
								<h4 class="mb-0">Color Examples</h4>
							</div>
							<hr/>
							<button type="button" class="btn btn-primary m-1 px-5">Primary</button>
							<button type="button" class="btn btn-secondary m-1 px-5">Secondary</button>
							<button type="button" class="btn btn-success m-1 px-5">Success</button>
							<button type="button" class="btn btn-danger m-1 px-5">Danger</button>
							<button type="button" class="btn btn-warning m-1 px-5">Warning</button>
							<button type="button" class="btn btn-info m-1 px-5">Info</button>
							<button type="button" class="btn btn-light m-1 px-5">Light</button>
							<button type="button" class="btn btn-dark m-1 px-5">Dark</button>
							<hr/>
							<button type="button" class="btn btn-outline-primary m-1 px-5">Primary</button>
							<button type="button" class="btn btn-outline-secondary m-1 px-5">Secondary</button>
							<button type="button" class="btn btn-outline-success m-1 px-5">Success</button>
							<button type="button" class="btn btn-outline-danger m-1 px-5">Danger</button>
							<button type="button" class="btn btn-outline-warning m-1 px-5">Warning</button>
							<button type="button" class="btn btn-outline-info m-1 px-5">Info</button>
							<button type="button" class="btn btn-outline-dark m-1 px-5">Dark</button>
						</div>
					</div>
				</div>
				<div class="col-12 col-lg-6 col-xl-6">
					<div class="card radius-15">
						<div class="card-body">
							<div class="card-title">
								<h4 class="mb-0">Round Buttons</h4>
							</div>
							<hr/>
							<button type="button" class="btn btn-primary m-1 px-5 radius-30">Primary</button>
							<button type="button" class="btn btn-secondary m-1 px-5 radius-30">Secondary</button>
							<button type="button" class="btn btn-success m-1 px-5 radius-30">Success</button>
							<button type="button" class="btn btn-danger m-1 px-5 radius-30">Danger</button>
							<button type="button" class="btn btn-warning m-1 px-5 radius-30">Warning</button>
							<button type="button" class="btn btn-info m-1 px-5 radius-30">Info</button>
							<button type="button" class="btn btn-light m-1 px-5 radius-30">Light</button>
							<button type="button" class="btn btn-dark m-1 px-5 radius-30">Dark</button>
							<hr/>
							<button type="button" class="btn btn-outline-primary m-1 px-5 radius-30">Primary</button>
							<button type="button" class="btn btn-outline-secondary m-1 px-5 radius-30">Secondary</button>
							<button type="button" class="btn btn-outline-success m-1 px-5 radius-30">Success</button>
							<button type="button" class="btn btn-outline-danger m-1 px-5 radius-30">Danger</button>
							<button type="button" class="btn btn-outline-warning m-1 px-5 radius-30">Warning</button>
							<button type="button" class="btn btn-outline-info m-1 px-5 radius-30">Info</button>
							<button type="button" class="btn btn-outline-dark m-1 px-5 radius-30">Dark</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>