<div class="page-wrapper">
	<div class="page-content-wrapper">
		<div class="page-content">
			<div class="page-breadcrumb d-none d-md-flex align-items-center mb-3">
				<div class="breadcrumb-title pr-3">Components</div>
				<div class="pl-3">
					<nav aria-label="breadcrumb">
						<ol class="breadcrumb mb-0 p-0">
							<li class="breadcrumb-item"><a href="javascript:;"><i class='bx bx-home-alt'></i></a>
							</li>
							<li class="breadcrumb-item active" aria-current="page">Media Objects</li>
						</ol>
					</nav>
				</div>
				<div class="ml-auto">
					<div class="btn-group">
						<button type="button" class="btn btn-light">Settings</button>
						<button type="button" class="btn btn-light dropdown-toggle dropdown-toggle-split" data-toggle="dropdown">	<span class="sr-only">Toggle Dropdown</span>
						</button>
						<div class="dropdown-menu dropdown-menu-right dropdown-menu-lg-left">	<a class="dropdown-item" href="javascript:;">Action</a>
							<a class="dropdown-item" href="javascript:;">Another action</a>
							<a class="dropdown-item" href="javascript:;">Something else here</a>
							<div class="dropdown-divider"></div>	<a class="dropdown-item" href="javascript:;">Separated link</a>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-12 col-lg-9 mx-auto">
					<div class="card radius-15">
						<div class="card-body">
							<div class="card-title">
								<h4 class="mb-0">Basic Media Object</h4>
							</div>
							<hr/>
							<div class="media">
								<img src="https://via.placeholder.com/110x110" class="mr-3 rounded-circle p-1 border" width="100" height="100" alt="...">
								<div class="media-body">
									<h5 class="mt-0">Media heading</h5>
									Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.</div>
							</div>
						</div>
					</div>
					<div class="card radius-15">
						<div class="card-body">
							<div class="card-title">
								<h4 class="mb-0">Nesting Media Object</h4>
							</div>
							<hr/>
							<div class="media">
								<img src="https://via.placeholder.com/110x110" class="mr-3 rounded-circle p-1 border" width="100" height="100" alt="...">
								<div class="media-body">
									<h5 class="mt-0">Media heading</h5>
									Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
									<div class="media mt-3">
										<a class="mr-3" href="#">
											<img src="https://via.placeholder.com/110x110" class=" rounded-circle p-1 border" width="100" height="100" alt="...">
										</a>
										<div class="media-body">
											<h5 class="mt-0">Media heading</h5>
											Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="card radius-15">
						<div class="card-body">
							<div class="card-title">
								<h4 class="mb-0">Alignment</h4>
							</div>
							<hr/>
							<div class="media">
								<img src="https://via.placeholder.com/110x110" class="align-self-start mr-3 rounded-circle p-1 border" width="100" height="100" alt="...">
								<div class="media-body">
									<h5 class="mt-0">Top-aligned media</h5>
									<p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.</p>
									<p>Donec sed odio dui. Nullam quis risus eget urna mollis ornare vel eu leo. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
								</div>
							</div>
							<hr>
							<div class="media">
								<img src="https://via.placeholder.com/110x110" class="align-self-center mr-3 rounded-circle p-1 border" width="100" height="100" alt="...">
								<div class="media-body">
									<h5 class="mt-0">Center-aligned media</h5>
									<p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.</p>
									<p class="mb-0">Donec sed odio dui. Nullam quis risus eget urna mollis ornare vel eu leo. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
								</div>
							</div>
							<hr>
							<div class="media">
								<img src="https://via.placeholder.com/110x110" class="align-self-end mr-3 rounded-circle p-1 border" width="100" height="100" alt="...">
								<div class="media-body">
									<h5 class="mt-0">Bottom-aligned media</h5>
									<p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.</p>
									<p class="mb-0">Donec sed odio dui. Nullam quis risus eget urna mollis ornare vel eu leo. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
								</div>
							</div>
							<hr>
							<div class="media">
								<div class="media-body">
									<h5 class="mt-0 mb-1">Order Change media</h5>
									Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.</div>
								<img src="https://via.placeholder.com/110x110" class="ml-3 rounded-circle p-1 border" width="100" height="100" alt="...">
							</div>
						</div>
					</div>
					<div class="card radius-15">
						<div class="card-body">
							<div class="card-title">
								<h4 class="mb-0">Media list</h4>
							</div>
							<hr/>
							<ul class="list-unstyled">
								<li class="media">
									<img src="https://via.placeholder.com/110x110" class="mr-3 rounded-circle p-1 border" width="100" height="100" alt="...">
									<div class="media-body">
										<h5 class="mt-0 mb-1">List-based media object</h5>
										Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.</div>
								</li>
								<li class="media my-4">
									<img src="https://via.placeholder.com/110x110" class="mr-3 rounded-circle p-1 border" width="100" height="100" alt="...">
									<div class="media-body">
										<h5 class="mt-0 mb-1">List-based media object</h5>
										Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.</div>
								</li>
								<li class="media">
									<img src="https://via.placeholder.com/110x110" class="mr-3 rounded-circle p-1 border" width="100" height="100" alt="...">
									<div class="media-body">
										<h5 class="mt-0 mb-1">List-based media object</h5>
										Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.</div>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>