<div class="page-wrapper">
	<div class="page-content-wrapper">
		<div class="page-content">
			<div class="page-breadcrumb d-none d-md-flex align-items-center mb-3">
				<div class="breadcrumb-title pr-3">Components</div>
				<div class="pl-3">
					<nav aria-label="breadcrumb">
						<ol class="breadcrumb mb-0 p-0">
							<li class="breadcrumb-item"><a href="javascript:;"><i class='bx bx-home-alt'></i></a>
							</li>
							<li class="breadcrumb-item active" aria-current="page">Modals</li>
						</ol>
					</nav>
				</div>
				<div class="ml-auto">
					<div class="btn-group">
						<button type="button" class="btn btn-light">Settings</button>
						<button type="button" class="btn btn-light dropdown-toggle dropdown-toggle-split" data-toggle="dropdown">	<span class="sr-only">Toggle Dropdown</span>
						</button>
						<div class="dropdown-menu dropdown-menu-right dropdown-menu-lg-left">	<a class="dropdown-item" href="javascript:;">Action</a>
							<a class="dropdown-item" href="javascript:;">Another action</a>
							<a class="dropdown-item" href="javascript:;">Something else here</a>
							<div class="dropdown-divider"></div>	<a class="dropdown-item" href="javascript:;">Separated link</a>
						</div>
					</div>
				</div>
			</div>
			<div class="card radius-15">
				<div class="card-body">
					<div class="card-title">
						<h4 class="mb-0">Basic modal examples</h4>
					</div>
					<hr/>
					<button type="button" class="btn btn-light" data-toggle="modal" data-target="#exampleModal1">Basic Modal</button>
					<div class="modal fade" id="exampleModal1" tabindex="-1" role="dialog" aria-hidden="true">
						<div class="modal-dialog">
							<div class="modal-content">
								<div class="modal-header">
									<h5 class="modal-title">Modal title</h5>
									<button type="button" class="close" data-dismiss="modal" aria-label="Close">	<span aria-hidden="true">&times;</span>
									</button>
								</div>
								<div class="modal-body">Cras mattis consectetur purus sit amet fermentum. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.</div>
								<div class="modal-footer">
									<button type="button" class="btn btn-light" data-dismiss="modal">Close</button>
									<button type="button" class="btn btn-light">Save changes</button>
								</div>
							</div>
						</div>
					</div>
					<button type="button" class="btn btn-light m-2" data-toggle="modal" data-target="#exampleModal2">Scrollable modal</button>
					<div class="modal fade" id="exampleModal2" tabindex="-1" role="dialog" aria-hidden="true">
						<div class="modal-dialog modal-dialog-scrollable">
							<div class="modal-content">
								<div class="modal-header">
									<h5 class="modal-title">Modal title</h5>
									<button type="button" class="close" data-dismiss="modal" aria-label="Close">	<span aria-hidden="true">&times;</span>
									</button>
								</div>
								<div class="modal-body">
									<p>Cras mattis consectetur purus sit amet fermentum. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.</p>
									<p>Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.</p>
									<p>Aenean lacinia bibendum nulla sed consectetur. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Donec sed odio dui. Donec ullamcorper nulla non metus auctor fringilla.</p>
									<p>Cras mattis consectetur purus sit amet fermentum. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.</p>
									<p>Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.</p>
									<p>Aenean lacinia bibendum nulla sed consectetur. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Donec sed odio dui. Donec ullamcorper nulla non metus auctor fringilla.</p>
									<p>Cras mattis consectetur purus sit amet fermentum. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.</p>
									<p>Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.</p>
									<p>Aenean lacinia bibendum nulla sed consectetur. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Donec sed odio dui. Donec ullamcorper nulla non metus auctor fringilla.</p>
									<p>Cras mattis consectetur purus sit amet fermentum. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.</p>
									<p>Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.</p>
									<p>Aenean lacinia bibendum nulla sed consectetur. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Donec sed odio dui. Donec ullamcorper nulla non metus auctor fringilla.</p>
									<p>Cras mattis consectetur purus sit amet fermentum. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.</p>
									<p>Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.</p>
									<p>Aenean lacinia bibendum nulla sed consectetur. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Donec sed odio dui. Donec ullamcorper nulla non metus auctor fringilla.</p>
									<p>Cras mattis consectetur purus sit amet fermentum. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.</p>
									<p>Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.</p>
									<p>Aenean lacinia bibendum nulla sed consectetur. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Donec sed odio dui. Donec ullamcorper nulla non metus auctor fringilla.</p>
								</div>
								<div class="modal-footer">
									<button type="button" class="btn btn-light" data-dismiss="modal">Close</button>
									<button type="button" class="btn btn-light">Save changes</button>
								</div>
							</div>
						</div>
					</div>
					<button type="button" class="btn btn-light m-2" data-toggle="modal" data-target="#exampleModal3">Centered Modal</button>
					<div class="modal fade" id="exampleModal3" tabindex="-1" role="dialog" aria-hidden="true">
						<div class="modal-dialog modal-dialog-centered">
							<div class="modal-content">
								<div class="modal-header">
									<h5 class="modal-title">Modal title</h5>
									<button type="button" class="close" data-dismiss="modal" aria-label="Close">	<span aria-hidden="true">&times;</span>
									</button>
								</div>
								<div class="modal-body">Cras mattis consectetur purus sit amet fermentum. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.</div>
								<div class="modal-footer">
									<button type="button" class="btn btn-light" data-dismiss="modal">Close</button>
									<button type="button" class="btn btn-light">Save changes</button>
								</div>
							</div>
						</div>
					</div>
					<button type="button" class="btn btn-light m-2" data-toggle="modal" data-target="#exampleModal4">Small Modal</button>
					<div class="modal fade" id="exampleModal4" tabindex="-1" role="dialog" aria-hidden="true">
						<div class="modal-dialog modal-sm">
							<div class="modal-content">
								<div class="modal-header">
									<h5 class="modal-title">Modal title</h5>
									<button type="button" class="close" data-dismiss="modal" aria-label="Close">	<span aria-hidden="true">&times;</span>
									</button>
								</div>
								<div class="modal-body">Cras mattis consectetur purus sit amet fermentum. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.</div>
								<div class="modal-footer">
									<button type="button" class="btn btn-light" data-dismiss="modal">Close</button>
									<button type="button" class="btn btn-light">Save changes</button>
								</div>
							</div>
						</div>
					</div>
					<button type="button" class="btn btn-light m-2" data-toggle="modal" data-target="#exampleModal5">Large Modal</button>
					<div class="modal fade" id="exampleModal5" tabindex="-1" role="dialog" aria-hidden="true">
						<div class="modal-dialog modal-lg">
							<div class="modal-content">
								<div class="modal-header">
									<h5 class="modal-title">Modal title</h5>
									<button type="button" class="close" data-dismiss="modal" aria-label="Close">	<span aria-hidden="true">&times;</span>
									</button>
								</div>
								<div class="modal-body">Cras mattis consectetur purus sit amet fermentum. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.</div>
								<div class="modal-footer">
									<button type="button" class="btn btn-light" data-dismiss="modal">Close</button>
									<button type="button" class="btn btn-light">Save changes</button>
								</div>
							</div>
						</div>
					</div>
					<button type="button" class="btn btn-light m-2" data-toggle="modal" data-target="#exampleModal6">Extra Large Modal</button>
					<div class="modal fade" id="exampleModal6" tabindex="-1" role="dialog" aria-hidden="true">
						<div class="modal-dialog modal-xl">
							<div class="modal-content">
								<div class="modal-header">
									<h5 class="modal-title">Modal title</h5>
									<button type="button" class="close" data-dismiss="modal" aria-label="Close">	<span aria-hidden="true">&times;</span>
									</button>
								</div>
								<div class="modal-body">Cras mattis consectetur purus sit amet fermentum. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.</div>
								<div class="modal-footer">
									<button type="button" class="btn btn-light" data-dismiss="modal">Close</button>
									<button type="button" class="btn btn-light">Save changes</button>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="card radius-15">
				<div class="card-body">
					<div class="card-title">
						<h4 class="mb-0">Advance modal examples</h4>
					</div>
					<hr/>
					<button type="button" class="btn btn-light radius-30 px-5" data-toggle="modal" data-target="#exampleModal7">Modal With Login</button>
					<div class="modal fade" id="exampleModal7" tabindex="-1" role="dialog" aria-hidden="true">
						<div class="modal-dialog modal-dialog-centered">
							<div class="modal-content radius-30">
								<div class="modal-header border-bottom-0">
									<button type="button" class="close" data-dismiss="modal" aria-label="Close">	<span aria-hidden="true">&times;</span>
									</button>
								</div>
								<div class="modal-body p-5">
									<h3 class="text-center">Sign In</h3>
									<div class="form-group">
										<label>Your Email</label>
										<input type="text" class="form-control form-control-lg radius-30" />
									</div>
									<div class="form-group">
										<label>Your Password</label>
										<input type="text" class="form-control form-control-lg radius-30" />
									</div>
									<div class="form-group text-right my-4"> <a href="javascript:void:;">Forgot Password?</a>
									</div>
									<div class="form-group">
										<button type="button" class="btn btn-light radius-30 btn-lg btn-block">Sign In</button>
									</div>
									<div class="form-group text-center">
										<p class="mb-0">or Sign in with:</p>
									</div>
									<div class="d-flex align-items-center justify-content-center">
										<button type="button" class="btn btn-facebook m-2 px-4 radius-30"><i class="bx bxl-facebook-square"></i>
										</button>
										<button type="button" class="btn btn-twitter m-2 px-4 radius-30"><i class="bx bxl-twitter"></i>
										</button>
										<button type="button" class="btn btn-linkedin m-2 px-4 radius-30"><i class="bx bxl-linkedin-square"></i>
										</button>
									</div>
									<hr/>
									<div class="form-group text-center mb-0">
										<p class="mb-0">Not a member? <a href="javascript:void:;" class="">Sign Up</a>
										</p>
									</div>
								</div>
							</div>
						</div>
					</div>
					<button type="button" class="btn btn-light radius-30 px-5 m-3" data-toggle="modal" data-target="#exampleModal8">Card Modal</button>
					<div class="modal fade" id="exampleModal8" tabindex="-1" role="dialog" aria-hidden="true">
						<div class="modal-dialog modal-dialog-centered">
							<div class="modal-content">
								<div class="">
									<div class="card mb-0">
										<img src="https://via.placeholder.com/800x500" class="card-img-top" alt="...">
										<div class="card-body">
											<h5 class="card-title">Card title</h5>
											<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> <a href="#" class="btn btn-light">Go somewhere</a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<button type="button" class="btn btn-warning radius-30 px-5" data-toggle="modal" data-target="#exampleModal9">Color Modal</button>
					<div class="modal fade" id="exampleModal9" tabindex="-1" role="dialog" aria-hidden="true">
						<div class="modal-dialog modal-dialog-centered modal-lg">
							<div class="modal-content bg-warning border-0">
								<div class="modal-header border-bottom-0">
									<h5 class="modal-title">Modal title</h5>
									<button type="button" class="close" data-dismiss="modal" aria-label="Close">	<span aria-hidden="true">&times;</span>
									</button>
								</div>
								<div class="modal-body">
									<p>Cras mattis consectetur purus sit amet fermentum. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.</p>
									<p>Aenean lacinia bibendum nulla sed consectetur. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Donec sed odio dui. Donec ullamcorper nulla non metus auctor fringilla.</p>
									<p>Cras mattis consectetur purus sit amet fermentum. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.</p>
								</div>
								<div class="modal-footer border-top-0">
									<button type="button" class="btn btn-light" data-dismiss="modal">Close</button>
									<button type="button" class="btn btn-light">Save changes</button>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
@section ScriptPage {
	<script>
		$('#exampleVaryingModalContent').on('show.bs.modal', function (event) {
			var button = $(event.relatedTarget) // Button that triggered the modal
			var recipient = button.data('whatever') // Extract info from data-* attributes
				// If necessary, you could initiate an AJAX request here (and then do the updating in a callback).
				// Update the modal's content. We'll use jQuery here, but you could use a data binding library or other methods instead.
			var modal = $(this)
			modal.find('.modal-title').text('New message to ' + recipient)
			modal.find('.modal-body input').val(recipient)
		});
	</script>
}