<div class="page-wrapper">
	<div class="page-content-wrapper">
		<div class="page-content">
			<div class="page-breadcrumb d-none d-md-flex align-items-center mb-3">
				<div class="breadcrumb-title pr-3">Components</div>
				<div class="pl-3">
					<nav aria-label="breadcrumb">
						<ol class="breadcrumb mb-0 p-0">
							<li class="breadcrumb-item"><a href="javascript:;"><i class='bx bx-home-alt'></i></a>
							</li>
							<li class="breadcrumb-item active" aria-current="page">Spinners</li>
						</ol>
					</nav>
				</div>
				<div class="ml-auto">
					<div class="btn-group">
						<button type="button" class="btn btn-light">Settings</button>
						<button type="button" class="btn btn-light dropdown-toggle dropdown-toggle-split" data-toggle="dropdown">	<span class="sr-only">Toggle Dropdown</span>
						</button>
						<div class="dropdown-menu dropdown-menu-right dropdown-menu-lg-left">	<a class="dropdown-item" href="javascript:;">Action</a>
							<a class="dropdown-item" href="javascript:;">Another action</a>
							<a class="dropdown-item" href="javascript:;">Something else here</a>
							<div class="dropdown-divider"></div>	<a class="dropdown-item" href="javascript:;">Separated link</a>
						</div>
					</div>
				</div>
			</div>
			<div class="card radius-15">
				<div class="card-body">
					<div class="card-title">
						<h4 class="mb-0">Border spinner</h4>
					</div>
					<hr/>
					<div class="spinner-border" role="status">	<span class="sr-only">Loading...</span>
					</div>
				</div>
				<div class="card-body">
					<div class="card-title">
						<h4 class="mb-0">Border Color spinner</h4>
					</div>
					<hr/>
					<div class="spinner-border text-primary" role="status">	<span class="sr-only">Loading...</span>
					</div>
					<div class="spinner-border text-secondary" role="status">	<span class="sr-only">Loading...</span>
					</div>
					<div class="spinner-border text-success" role="status">	<span class="sr-only">Loading...</span>
					</div>
					<div class="spinner-border text-danger" role="status">	<span class="sr-only">Loading...</span>
					</div>
					<div class="spinner-border text-warning" role="status">	<span class="sr-only">Loading...</span>
					</div>
					<div class="spinner-border text-info" role="status">	<span class="sr-only">Loading...</span>
					</div>
					<div class="spinner-border text-light" role="status">	<span class="sr-only">Loading...</span>
					</div>
					<div class="spinner-border text-dark" role="status">	<span class="sr-only">Loading...</span>
					</div>
				</div>
				<div class="card-body">
					<div class="card-title">
						<h4 class="mb-0">Growing spinner</h4>
					</div>
					<hr/>
					<div class="spinner-grow" role="status">	<span class="sr-only">Loading...</span>
					</div>
				</div>
				<div class="card-body">
					<div class="card-title">
						<h4 class="mb-0">Growing Colors spinner</h4>
					</div>
					<hr/>
					<div class="spinner-grow text-primary" role="status">	<span class="sr-only">Loading...</span>
					</div>
					<div class="spinner-grow text-secondary" role="status">	<span class="sr-only">Loading...</span>
					</div>
					<div class="spinner-grow text-success" role="status">	<span class="sr-only">Loading...</span>
					</div>
					<div class="spinner-grow text-danger" role="status">	<span class="sr-only">Loading...</span>
					</div>
					<div class="spinner-grow text-warning" role="status">	<span class="sr-only">Loading...</span>
					</div>
					<div class="spinner-grow text-info" role="status">	<span class="sr-only">Loading...</span>
					</div>
					<div class="spinner-grow text-light" role="status">	<span class="sr-only">Loading...</span>
					</div>
					<div class="spinner-grow text-dark" role="status">	<span class="sr-only">Loading...</span>
					</div>
				</div>
				<div class="card-body">
					<div class="card-title">
						<h4 class="mb-0">Size</h4>
					</div>
					<hr/>
					<div class="spinner-border spinner-border-sm" role="status">	<span class="sr-only">Loading...</span>
					</div>
					<div class="spinner-grow spinner-grow-sm" role="status">	<span class="sr-only">Loading...</span>
					</div>
					<p class="my-4">use custom CSS or inline styles to change the dimensions as needed.</p>
					<div class="spinner-border" style="width: 3rem; height: 3rem;" role="status">	<span class="sr-only">Loading...</span>
					</div>
					<div class="spinner-grow" style="width: 3rem; height: 3rem;" role="status">	<span class="sr-only">Loading...</span>
					</div>
				</div>
				<div class="card-body">
					<div class="card-title">
						<h4 class="mb-0">Spinners With Buttons</h4>
					</div>
					<hr/>
					<button class="btn btn-light" type="button" disabled>	<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
						<span class="sr-only">Loading...</span>
					</button>
					<button class="btn btn-light" type="button" disabled>	<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
						Loading...</button>
					<button class="btn btn-light" type="button" disabled>	<span class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true"></span>
						<span class="sr-only">Loading...</span>
					</button>
					<button class="btn btn-light" type="button" disabled>	<span class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true"></span>
						Loading...</button>
					<hr/>
					<button class="btn btn-light" type="button" disabled>	<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
						<span class="sr-only">Loading...</span>
					</button>
					<button class="btn btn-light" type="button" disabled>	<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
						Loading...</button>
					<button class="btn btn-light" type="button" disabled>	<span class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true"></span>
						<span class="sr-only">Loading...</span>
					</button>
					<button class="btn btn-light" type="button" disabled>	<span class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true"></span>
						Loading...</button>
					<hr/>
					<button class="btn btn-light" type="button" disabled>	<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
						<span class="sr-only">Loading...</span>
					</button>
					<button class="btn btn-light" type="button" disabled>	<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
						Loading...</button>
					<button class="btn btn-light" type="button" disabled>	<span class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true"></span>
						<span class="sr-only">Loading...</span>
					</button>
					<button class="btn btn-light" type="button" disabled>	<span class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true"></span>
						Loading...</button>
					<hr/>
					<button class="btn btn-light" type="button" disabled>	<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
						<span class="sr-only">Loading...</span>
					</button>
					<button class="btn btn-light" type="button" disabled>	<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
						Loading...</button>
					<button class="btn btn-light" type="button" disabled>	<span class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true"></span>
						<span class="sr-only">Loading...</span>
					</button>
					<button class="btn btn-light" type="button" disabled>	<span class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true"></span>
						Loading...</button>
				</div>
			</div>
		</div>
	</div>
</div>