<!DOCTYPE html>
<html lang="en">
<head>
    @await Html.PartialAsync("MetatagsPartial")
    @await Html.PartialAsync("TitlePartial")
    @await Html.PartialAsync("IconPartial")
    @await Html.PartialAsync("CssPartial")
</head>
<body data-spy="scroll" data-target=".navbar-collapse" data-offset="50">
    <div class="preloader">
        <div class="sk-spinner sk-spinner-pulse"></div>
    </div>
    @await Html.PartialAsync("NavBarPartial")
    @RenderBody()
    @await Html.PartialAsync("FooterPartial")
    @await Html.PartialAsync("ScriptsPartial")
    @if (IsSectionDefined("ScriptPage"))
    {
        @await RenderSectionAsync("ScriptPage")
    }
</body>
</html>