<footer>
    <div class="container">
        <div class="row">

            <div class="wow fadeInUp col-md-4 col-sm-4" data-wow-delay="0.6s">
                <h2>О фитнес-центре</h2>
                <p>
                    Здоровый образ жизни, здоровое и красивое тело и активный отдых уже давно задают тренды обществу.
                    Но, зачастую, у всех нас либо не хватает времени, либо в семейный бюджет не вписывается строчка о спорт-клубе.
                    Поэтому, наша сеть предлагает всем желающим современные, качественно оснащеные фитнес-центры, с действительно народным ценами, где можно заниматься в любое, удобное для вас время!
                </p>
            </div>

            <div class="wow fadeInUp col-md-5 col-sm-4" data-wow-delay="0.9s">
                <h2>Сессии</h2>
                <div>
                    <h5>Утро</h5>
                    <h4>6:00 AM - 11:00 PM</h4>
                </div>
                <div>
                    <h5>Вечер</h5>
                    <h4>4:00 PM - 9:00 PM</h4>
                </div>
            </div>

            <div class="wow fadeInUp col-md-3 col-sm-4" data-wow-delay="1s">
                <h2>Подписывайтесь на нас</h2>
                <ul class="social-icon">
                    <li><a href="#" class="fa fa-facebook wow fadeIn" data-wow-delay="1s"></a></li>
                    <li><a href="#" class="fa fa-twitter wow fadeInUp" data-wow-delay="1.3s"></a></li>
                    <li><a href="#" class="fa fa-dribbble wow fadeIn" data-wow-delay="1.6s"></a></li>
                    <li><a href="#" class="fa fa-behance wow fadeInUp" data-wow-delay="1.9s"></a></li>
                    <li><a href="#" class="fa fa-google-plus wow fadeIn" data-wow-delay="2s"></a></li>
                </ul>
            </div>

            <div class="clearfix"></div>

            <div class="col-md-12 col-sm-12">
                <p class="copyright-text">
                    Copyright &copy; 2021 Фитнес-центр
                </p>
            </div>

        </div>
    </div>
</footer>