<div class="navbar navbar-default navbar-fixed-top sticky-navigation" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon icon-bar"></span>
                <span class="icon icon-bar"></span>
                <span class="icon icon-bar"></span>
            </button>
            <a href="#" class="navbar-brand">Fitness</a>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-right main-navigation">
                <li><a href="#home" class="smoothScroll">Home</a></li>
                <li><a href="#overview" class="smoothScroll">About</a></li>
                <li><a href="#trainer" class="smoothScroll">Trainers</a></li>
                <li><a href="#blog" class="smoothScroll">Blog</a></li>
                <li><a href="#price" class="smoothScroll">Prices</a></li>
                <li><a href="#testimonial" class="smoothScroll">Testimonials</a></li>
            </ul>
        </div>
    </div>
</div>