<div class="navbar navbar-default navbar-fixed-top sticky-navigation" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon icon-bar"></span>
                <span class="icon icon-bar"></span>
                <span class="icon icon-bar"></span>
            </button>
            <a asp-area="" asp-controller="Home" asp-action="Index" class="navbar-brand">Фитнес-центр</a>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-right main-navigation">
                <li><a href="#home" class="smoothScroll">Главная</a></li>
                <li><a href="#overview" class="smoothScroll">О нас</a></li>
                <li><a href="#trainer" class="smoothScroll">Тренеры</a></li>
                <li><a href="#blog" class="smoothScroll">Новости</a></li>
                <li><a href="#price" class="smoothScroll">Услуги</a></li>
                <li><a href="#testimonial" class="smoothScroll">Отзывы</a></li>
                @await Component.InvokeAsync("NavBarAccount")
            </ul>
        </div>
    </div>
</div>