<div class="cta-sub no-color">
    <div class="container">
        <div class="cta-inner">
            <h1 class="wow fadeInUp" data-wow-delay="0s">Sign Up to Our Newsletter and get exciting offers</h1>
            <p class="wow fadeInUp" data-wow-delay="0.2s">
                Enter your email address we promise, never disclose<br class="hidden-xs">
                or sell your email address.
            </p>
            <div class="form wow fadeInUp" data-wow-delay="0.3s">
                <form class="subscribe-form center-form wow zoomIn" action="php/subscribe.php" method="post" name="subscribeform" id="subscribeform">
                    <input class="mail" type="email" name="email" placeholder="Join the wait list" autocomplete="off" id="subemail">
                    <input class="submit-button" type="submit" value="Subscribe" name="send" id="subsubmit">
                </form>
                <div id="mesaj"></div>
            </div>
        </div>
    </div>
</div>